@use "__setup" as *; // variables & mixins

.blog-hero{
  overflow: hidden;
  position: relative;
  background: var(--ui-white) repeat center;
  background-image: url("/assets/generic/bg_grid.png");
  text-align: center;
  
  .blog-hero__title{
    width: 50%;
    max-width: 40rem;
    min-width: 20rem;
    margin: 0 auto;
    padding-top: var(--gutter-large);
    
    .cayas-logo{
      display: block;
      width: 80%;
      max-width: 80%;
    }

    .cayas-journal{
      display: block;
      width: 80%;
      transform: translate(25%,-35%);
    }

    svg{ width: 100%; }
  }

  .title--4{ margin: -1em 0 var(--gutter-large); }

  .blog-hero__img{
      width: auto;
      height: 100%;
      max-height: 30rem;
      max-width: 100%;
      margin: 0 auto;
  }
}

.blog-filters{
  padding: var(--gutter-medium) 0;

  nav{
    display: flex;
    align-items: center;
    gap: .5em;
  }

  .list-inline{ gap: .5em; }
  .list-social{ gap: .05em; }
}

.blog-item{
  position: relative;
  @include box-shadow(0.2rem, 0.5rem, var(--theme, var(--brand-fuschia)));

  .blog-item__img{
    overflow: hidden;
    background: var(--ui-black) repeat center;
    background-image: url("/assets/generic/bg_grid.png");
    
    img{
      width: auto;
      height: auto;
      max-height: 20rem;
      max-width: 100%;
      margin: 0 auto;
      // --
      transition: transform ease-in-out 300ms;
    }
  }

  &:has(a:hover, a:focus){
    .blog-item__img img{
      transform: scale(1.05);
      transition-duration: 50ms;
    }

    .blog-item__txt .link--picto{
      @include text-underline--hover(currentColor);
    }
  }

  .blog-item__txt{
    padding: var(--gutter-medium);

    .list-inline{
      gap: .5em;
      margin-bottom: var(--gutter-small);

      a{ position: relative; }
    }

    .blog-item__title{
      margin: 0;

      a{
        @include text-underline(transparent);

        &::before{
          content: '';
          position: absolute;
          @include offset();
        }

        &:hover, &:focus{
          @include text-underline--hover(currentColor);
        }
      }
    }

    .blog-item__meta{
      margin-bottom: var(--gutter-small);
    }

    .link--picto{
      width: 100%;
      justify-content: flex-end;
      @include text-underline(transparent);
    }
  }
}

.list-une{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--gutter-large);

  > li{
    display: flex;
    align-items: stretch;

    &:first-child{  flex-basis: 66.6667%;  }
    &:last-child{   flex-basis: calc(33.3333% - calc(var(--gutter-large) /2));  }
    &:only-child{   flex: auto; }
  }
}

.list-masonry{
  columns: 3 28rem;
  column-gap: var(--gutter-large);
  column-fill: balance; // not working

  > li{
    display: inline-flex;
    width: 100%;
    margin-bottom: var(--gutter-large);
  }
}

.blog-overflow{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: .5rem;
  width: 100%;
  background-color: var(--ui-gray-8);
}

.blog-article-title{
  margin-bottom: 0;
}


// == medium
// ---------------------------------
@media screen and (max-width: $mq-medium) {
  .list-une > li{
    &:first-child, &:last-child{ flex-basis: 50%; }
  }
}


// == small
// ---------------------------------
@media screen and (max-width: $mq-small) {
  .list-une{
    flex-wrap: wrap;

    > li{
      &:first-child, &:last-child{ flex-basis: 100%; }
    }
  }
}
