@use "__setup" as *; // variables & mixins

footer {
    padding-top: var(--gutter-xlarge);
    padding-bottom: var(--gutter-medium);

    .grid {
        &:last-child {
            position: relative;
            margin-top: var(--gutter-small);
            padding-top: var(--gutter-small);

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: var(--gutter-medium);
                right: var(--gutter-medium);
                border-top: 1px solid var(--ui-black);
            }
        }

        > :last-child {
            text-align: right;

            .list-inline {
                justify-content: flex-end;
            }
            .list-social {
                margin-top: var(--gutter-medium);
            }
        }
    }
}


// == xsmall
// ---------------------------------
@media screen and (max-width: $mq-xsmall) {
    footer{
        text-align: center;

        .cayas-logo{ margin: 0 auto .5em; }

        .grid > :last-child{
            text-align: center;

            .list-inline{
                justify-content: center;

                &.list-social{
                    margin-top: 3em;
                    margin-bottom: 1.5em;

                    li{ font-size: 1.25em; }
                }
            }
        }

        .grid:last-child{
            padding-top: var(--gutter-large);

            > *:first-child{ order: 2; }
            > *:last-child{ order: 1; }
        }
    }
}
