@use "__setup" as *; // variables & mixins

footer{
    padding-top: var(--gutter-xlarge);
    padding-bottom: var(--gutter-medium);

    .grid{
        &:last-child{
            position: relative;
            margin-top: var(--gutter-small);
            padding-top: var(--gutter-small);

            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: var(--gutter-medium);
                right: var(--gutter-medium);
                border-top: 1px solid var(--ui-black);
            }
        }

        >:last-child{
            text-align: right;

            .list-inline{ justify-content: flex-end; }
            .list-social{ margin-top: var(--gutter-medium); }
        }
    }
}
