@use "__setup" as *; // variables & mixins

.list-skip {
    z-index: 10000;
    position: relative;
    margin: 0;

    a {
        position: absolute;
        top: -9000em;
        display: inline-block;
        padding: 0.5rem;
        background: var(--ui-white);
        white-space: nowrap;

        &:focus {
            top: 0;
        }
    }
}

header {
    background: var(--ui-white);
    // --
    padding-top: var(--gutter-medium);
    padding-bottom: var(--gutter-medium);
    transition: padding ease-in-out 400ms;

    &.header--sticky {
        z-index: 30;
        position: sticky;
        top: 0;

        &.sticky-watch {
            // use 'top' to provide threshold for hitting top of parent
            top: -1px;

            &.is-pinned {
                z-index: 1000;
                border-bottom: 1px solid var(--ui-black);
                // --
                padding-top: var(--gutter-small);
                padding-bottom: var(--gutter-small);
                transition-duration: 50ms;
            }
        }
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }

    // HACKY: create structure to put the buttons list two times
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;

        > nav{ margin-right: 2.5em; }
    }

    .header-nav{
        position: relative;
        z-index: 1;

        .header-nav__burger{
            display: none; // changed on mobile
            position: fixed;
            top: .35rem;
            right: 0;
            z-index: 1;
            padding: 1rem;

            > span{
                position: relative;
                display: block;
                width: 2rem;
                height: 2rem;
                margin: 0 auto;

                span{
                    position: absolute;
                    display: block;
                    border-top: .3rem solid var(--ui-black);
                    width: 100%;
                    // --
                    left: 0;
                    opacity: 1;
                    transition: all 400ms ease-in-out;

                    &:nth-child(1){                 top: 0; }
                    &:nth-child(2), &:nth-child(3){ top: .75rem; }
                    &:nth-child(4){                 top: 1.5rem; }
                }
            }

            &[aria-expanded="true"]{
                > span{
                    span{
                        border-color: var(--color-gold-2);

                        &:nth-child(1), &:nth-child(4){
                            top: .75rem;
                            width: 0;
                            left: 50%;
                        }

                        &:nth-child(2){ transform: rotate(45deg); }
                        &:nth-child(3){ transform: rotate(-45deg); }
                    }
                }

                &:hover, &:focus{
                    > span span{ border-color: var(--color-black); }
                }
            }

            &:hover, &:focus{
                > span span{ border-color: var(--color-gold-2); }
            }
        }

        .header-nav__burger-target{
            .header-nav__overlay{ display: none; }

            .header-nav__menus{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .header-nav__menu{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1em;
                    margin: 0;
                    padding-right: 1em;

                    > li{
                        position: relative;

                        // FIXME: uncomment when aria is added on markup
                        //&[aria-current="page"]{
                        //    > button, > a{
                        //        border-color: var(--brand-fuschia-3);
                        //        color: var(--brand-fuschia);
                        //    }
                        //}

                        > button, > a{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: .35em .75em;
                            border: 1px solid transparent;
                            text-decoration: none;
                            text-align: left;
                            font-weight: bold;
                            line-height: 1.15;

                            .svg-icon{
                                margin-left: .5rem;
                                color: var(--ui-gray-2);
                                // --
                                transform: rotate(0);
                                transition: transform 150ms ease-in-out;
                            }

                            span:not(.svg-icon){
                                @include text-underline(transparent);
                            }

                            &:hover{ background: var(--brand-fuschia-4); }
                            &:focus{ border-color: var(--brand-fuschia-3); }

                            &[aria-expanded="true"]{
                                color: var(--brand-fuschia);

                                .svg-icon{ transform: rotate(-180deg); }

                                &:hover, &:focus{
                                    span:not(.svg-icon){ @include text-underline--hover(currentColor); }
                                }
                            }
                        }

                        > ul{
                            position: absolute;
                            right: 0;
                            display: flex;
                            flex-direction: column;
                            gap: var(--gutter-small);
                            width: 40rem;
                            min-width: 10rem;
                            padding: var(--gutter-small);
                            background: var(--ui-white);
                            border-radius: .5rem;
                            box-shadow: 0 0 .5rem var(--ui-gray-8);

                            > li{
                                position: relative;
                                justify-content: flex-start;
                                gap: var(--gutter-small);
                                padding: var(--gutter-small);
                                border: 1px solid var(--ui-gray-8);
                                border-radius: .5rem;

                                > .svg-icon{
                                    font-size: 3em;
                                    flex: 0 0 auto;
                                }

                                > a, > button{
                                    text-decoration: none;

                                    &::before{
                                        content: '';
                                        position: absolute;
                                        @include offset();
                                    }

                                    > strong{
                                        line-height: 1.15;
                                    }
                                }

                                &:has(*:hover){ background: var(--brand-fuschia-4); }
                                &:has(*:focus){ border-color: var(--brand-fuschia-3); }

                                // FIXME: uncomment when aria is added on markup
                                //&[aria-current="page"]{
                                //    > .svg-icon, > button, > a{ color: var(--brand-fuschia); }
                                //}
                            }

                            &[aria-hidden="true"]{ display: none; }
                        }
                    }
                }
            }
        }
    }
}

// == xlarge
// ---------------------------------
@media screen and (max-width: $mq-xlarge) {
}

// == large
// ---------------------------------
@media screen and (max-width: $mq-large) {
}

// == medium
// ---------------------------------
@media screen and (max-width: $mq-medium) {
}

// == small
// ---------------------------------
@media screen and (max-width: $mq-small) {
    header{
        //z-index: 10;
        padding-bottom: var(--gutter-small);
        padding-top: var(--gutter-small);

        // Burger is on!
        // CAUTION: if you move this, update the JS breakpoints too!
        .header-nav{
            .header-nav__burger{
                display: block;
            }

            .header-nav__burger-target{
                position: fixed;
                @include offset();
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                &[aria-hidden="true"]{
                    visibility: hidden;

                    .header-nav__overlay{ background-color: transparent; }
                    .header-nav__menus{ opacity: 0; }
                }

                .header-nav__overlay{
                    position: fixed;
                    @include offset();
                    display: block;
                    // --
                    background-color: var(--ui-white);
                    transition: background-color 400ms ease-in-out;
                }

                .header-nav__menus{
                    display: block;
                    width: 100%;
                    max-height: 100%;
                    overflow: auto;
                    margin: auto; // Can't scroll to top of flex item that is overflowing container FIX
                    padding: 2rem;
                    // --
                    opacity: .9999; // Chrome bug
                    transition: opacity 400ms ease-in-out;

                    nav:last-child{
                        position: absolute;
                        display: block;
                        max-width: 40rem;
                        margin: 2em auto;
                        padding: 0 2em;
                    }

                    .header-nav__menu{
                        position: relative;
                        flex-direction: column;
                        max-width: 40rem;
                        margin: auto;
                        padding: 0 2em;

                        > li{
                            width: 100%;

                            > a, > button{
                                justify-content: flex-start;
                                width: 100%;
                            }

                            > ul{
                                position: relative;
                                left: inherit;
                                min-width: 0;
                                width: 100%;
                                border: none;
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

// == xsmall
// ---------------------------------
@media screen and (max-width: $mq-xsmall) {
    .header-nav__menus .header-nav__menu li{ margin-top: 0; }
}

// == xxsmall
// ---------------------------------
@media screen and (max-width: $mq-xxsmall) {
}
