@use "__setup" as *; // variables & mixins
/*
//
// == LESSON
// --------------------------------------------------
// All the lesson page layout
.view--lesson {
  --training-color: var(--a11y-pink);
  overflow: hidden;
  position: relative;
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  main {
    overflow: auto;
    position: relative;
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: var(--gutter-xlarge);
    padding-bottom: var(--gutter-medium);
  }
}

.lesson-heading {
  margin-bottom: var(--gutter-medium);

  .title--3 {
    margin: 0;
  }
}

.lesson-heading__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gutter-medium);
  margin-bottom: var(--gutter-medium);
  color: var(--ui-gray-2);

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25em;

    .svg-icon {
      font-size: 2em;
    }
  }

  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0;
  }

  .lesson-heading__picto {
    --dimension: 0.85em;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    width: calc(var(--dimension) * 1.75);
    height: var(--dimension);

    &::before,
    &::after {
      content: "";
      display: block;
    }

    &::before {
      transform: translateY(-50%);
      margin-top: calc(var(--dimension) / 2);
      border: calc(var(--dimension) / 6) solid var(--training-color);
      border-radius: 0.5rem;
    }

    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: var(--dimension);
      height: var(--dimension);
      background: var(--ui-white);
      border: calc(var(--dimension) / 4) solid var(--training-color);
      border-radius: calc(var(--dimension) / 2);
    }
  }
}

.lesson-nav {
  z-index: 1; // glossary have to be above on mobile
  position: relative;
  width: 100%;
  background: var(--ui-white);

  .lesson-nav__gauge {
    background: var(--ui-gray-4);

    > div {
      height: var(--gutter-small);
      background: var(--training-color);
    }
  }

  .lesson-nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--gutter-medium) 0;
  }

  .wrapper {
    position: relative;
  }

  .lesson-nav__capy {
    z-index: 1001;
    position: absolute;
    top: -1.05em;
    right: 1em;

    img {
      position: absolute;
      bottom: -0.65em;
      right: -0.65em;
      width: 6em;
      height: auto;
    }
  }
}

.game-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gutter-medium);
  flex-wrap: wrap;
  margin-bottom: var(--gutter-large);

  .title--5 {
    margin-bottom: 0;
  }
}

.game-score {
  display: inline-block;
  padding: 0 var(--gutter-xsmall) 0 var(--gutter-medium);
  @include box-shadow(0.2rem, 0.5rem, var(--brand-green));
  border: none;
  background: var(--ui-black);
  color: var(--ui-white);
  font-weight: 700;

  .svg-icon {
    position: relative;
    top: 0.05em;
    display: inline-block;
    font-size: 1.4em;
  }
}

.game-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gutter-xlarge);
  margin-bottom: var(--gutter-medium);
  padding: var(--gutter-medium);
  background: var(--ui-game-1);
  @include box-shadow(0.2rem, 0.5rem, var(--ui-game-2));
  border: none;
  color: var(--ui-always-white);

  .title--5 + p {
    margin-top: -0.75em;
  }

  form {
    margin: 2em 0 1em;
  }
  label {
    color: var(--ui-always-white) !important;
  }
  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label {
    color: var(--ui-always-white);
  }

  .game-bet {
    strong {
      padding: 0 0.25em;
      box-decoration-break: clone;
      background: var(--brand-violet-light);
      color: var(--ui-always-black);
      font-weight: 900;
    }
  }

  .game-gauge {
    margin-top: 1.5em;
    margin-bottom: 1em;
    background: var(--ui-gray-4);

    > div {
      height: var(--gutter-small);
      background: var(--training-color);
    }
  }

  .game-part-1 {
    flex-grow: 1;
  }

  .game-part-2 {
    width: 65%;
    text-align: center;

    fieldset {
      text-align: center;
    }

    img {
      max-width: 12.5rem;
      margin: 0 auto;
    }

    .game-submit {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1em;

      .svg-icon {
        font-size: 6em;

        &:last-child {
          transform: scale(-1, 1);
        }
      }
    }
  }
}

.game-dice {
  padding: var(--gutter-small);
  background: var(--ui-game-2);
  border: 1px solid var(--ui-always-white);

  > div {
    padding: var(--gutter-small);
    border: 1px solid var(--ui-always-white);
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gutter-small);
    flex-wrap: wrap;
  }
}

.game-rules {
  margin-bottom: 1em;
  text-align: right;
}

.chart-area {
  width: 100%;
  height: 50rem;
}

.quiz-answer-cartridge {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50rem;
  background: var(--ui-black);
  color: var(--ui-white);
  border-radius: 2.5rem;

  > div {
    padding: var(--gutter-large);

    *:only-child {
      margin: 0;
    }
  }

  > .quiz-answer-cartridge__icon {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;

    img {
      width: 7em;
    }
  }
}

.quiz-video-poster {
  position: relative;
  display: flex;

  > div {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: var(--gutter-medium);
    background: var(--ui-black);
    color: var(--ui-white);
    border-radius: 2.5rem;
    transform: rotate(-2.5deg);

    > * {
      transform: rotate(2.5deg);
    }

    video {
      width: 90%;
      margin-top: var(--gutter-medium);
      margin-left: -1rem;
    }

    div {
      margin-bottom: var(--gutter-large);
      text-align: center;
      color: var(--ui-white);

      img {
        width: 80%;
        max-width: 40rem;
        margin: 0 auto;
      }
    }
  }
}

.merton-profile {
  --color: var(--ui-black);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gutter-large);
  padding: var(--gutter-medium);
  border: 1px solid var(--color);

  &::before {
    content: "";
    position: absolute;
    @include offset();
    background: var(--color);
    opacity: 0.15;
  }

  > * {
    position: relative;
  }

  img {
    flex-shrink: 0;
    flex-grow: 0;
    width: 33.3333%;
    max-width: 13rem;
    margin: calc(var(--gutter-medium) * -1.25);
    align-self: flex-start;
  }

  &.merton-profile--blue {
    --color: var(--a11y-blue);
  }
  &.merton-profile--green {
    --color: var(--a11y-green);
  }
  &.merton-profile--violet {
    --color: var(--a11y-violet);
  }
  &.merton-profile--yellow {
    --color: var(--a11y-yellow);
  }
  &.merton-profile--orange {
    --color: var(--a11y-orange);
  }
}

.merton-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--gutter-medium);
  background: var(--ui-always-white) url(/assets/generic/bg_grid.png) 2rem 2rem;
  color: var(--ui-white);
  @include box-shadow(0.2rem, 0.5rem, var(--brand-pink));

  .chart-temp {
    width: 100%;
    max-width: 50rem;
  }
}

.merton-warning {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gutter-small);
  margin-top: var(--gutter-medium);
  padding: var(--gutter-small);
  border-left: 0.2rem solid var(--a11y-pink);

  &::before {
    content: "";
    position: absolute;
    @include offset();
    background: var(--ui-always-white);
    opacity: 0.15;
  }

  > * {
    position: relative;
  }

  img {
    align-self: flex-start;
    width: 5em;
  }
}

// == large
// ---------------------------------
@media screen and (max-width: $mq-large) {
  .view--lesson main {
    padding-top: var(--gutter-medium);
  }
  .lesson-nav .lesson-nav__links {
    padding: var(--gutter-small) 0;
  }
}

// == medium
// ---------------------------------
@media screen and (max-width: $mq-medium) {
  .view--lesson main::before {
    display: none;
  }

  .lesson-nav {
    .lesson-nav__capy img {
      width: 4em;
    }
    .lesson-nav__links {
      padding: var(--gutter-medium) 0;
    }
  }

  .game-layout {
    flex-direction: column;
    gap: 0;
    max-width: 50rem;
    margin: 0 auto var(--gutter-medium);
    text-align: center;

    .game-part-1,
    .game-part-2 {
      width: 100%;
    }

    form {
      margin-bottom: 0;
    }
  }

  .game-rules {
    margin-bottom: 2em;
    text-align: center;
  }

  .quiz-answer-cartridge {
    overflow: hidden;
    display: block;
    min-height: 0;
    border-radius: 1.25rem;

    > .quiz-answer-cartridge__icon {
      position: relative;
      float: right;
    }
  }
}

// == xsmall
// ---------------------------------
@media screen and (max-width: $mq-xsmall) {
  .game-layout {
    background: none;
    box-shadow: none;
  }

  .list-radio-checkbox--quiz.list-radio-checkbox--quiz-grid
    .list-radio-checkbox--quiz-grid__25 {
    width: calc(50% - 0.5em);
  }
}

// == xxsmall
// ---------------------------------
@media screen and (max-width: $mq-xxsmall) {
  .game-layout .game-part-2 .game-submit {
    margin: 1em 0;
  }
}
*/
