@use "__utilities" as *;          // needed for the em function

// == RWD STEPS
// ---------------------------------
// CSS variables won't work with media queries, so scss variables instead
$mq-max:        #{em(2000)};         // this like var(--body-max) below
$mq-xlarge:     #{em(1620)};
$mq-large:      #{em(1300)};
$mq-medium:     #{em(1010)};
$mq-small:      #{em(730)};
$mq-xsmall:     #{em(580)};
$mq-xxsmall:    #{em(460)};


//
// == CSS VARIABLES
// --------------------------------------------------
// == enable ligh/dark theming
// cf. https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/light-dark
// ---------------------------------
:root{ color-scheme: light dark; }

:root, .theme--light{

  // == brand
  // ---------------------------------
  // primary (fuschia)
  --brand-primary: var(--brand-fuschia-2);    // default
  --brand-primary-1: var(--brand-fuschia-1);
  --brand-primary-2: var(--brand-fuschia-2);
  --brand-primary-3: var(--brand-fuschia-3);
  --brand-primary-4: var(--brand-fuschia-4);

  // fuschia
  --brand-fuschia: var(--brand-fuschia-2);    // default
  --brand-fuschia-1: #600c4c;
  --brand-fuschia-2: #ed1e79;
  --brand-fuschia-3: #ff97c5;
  --brand-fuschia-4: #ffd5e8;

  // aqua
  --brand-aqua: var(--brand-aqua-3);          // default
  --brand-aqua-1: #0d5064;
  --brand-aqua-2: #1aecef;
  --brand-aqua-3: #75fafc;
  --brand-aqua-4: #C6feff;

  // lilac
  --brand-lilac: var(--brand-lilac-3);        // default
  --brand-lilac-1: #150b70;
  --brand-lilac-2: #5e3ef0;
  --brand-lilac-3: #c5b5f8;
  --brand-lilac-4: #E4dffc;

  // pink
  --brand-pink: var(--brand-pink-3);          // default
  --brand-pink-1: #620708;
  --brand-pink-2: #d74470;
  --brand-pink-3: #ed81aa;
  --brand-pink-4: #fcc1d7;

  // yellow
  --brand-yellow: var(--brand-yellow-3);      // default
  --brand-yellow-1: #5a4201;
  --brand-yellow-2: #d5a405;
  --brand-yellow-3: #fcd414;
  --brand-yellow-4: #ffec70;

  // green (success)
  --brand-green: var(--brand-green-3);        // default
  --brand-green-1: #1e5c17;
  --brand-green-2: #1e9a14;
  --brand-green-3: #7cfa72;
  --brand-green-4: #ccfdc9;

  // blue
  --brand-blue: var(--brand-blue-2);          // default
  --brand-blue-1: #09288e;
  --brand-blue-2: #4451ff;
  --brand-blue-3: #8bacff;
  --brand-blue-4: #d6e2ff;

  // purple
  --brand-purple: var(--brand-purple-2);      // default
  --brand-purple-1: #441b71;
  --brand-purple-2: #6945d8;
  --brand-purple-3: #9e7bee;
  --brand-purple-4: #d8c0fb;

  // orange (warning)
  --brand-orange: var(--brand-orange-3);      // default
  --brand-orange-1: #5e2800;
  --brand-orange-2: #d86712;
  --brand-orange-3: #ef9755;
  --brand-orange-4: #fbc69e;

  // red (error)
  --brand-red: var(--brand-red-3);            // default
  --brand-red-1: #870a01;
  --brand-red-2: #fd5144;
  --brand-red-3: #ff8077;
  --brand-red-4: #ffcfcc;

  // == ui
  // ---------------------------------
  --ui-white: #fff;
  --ui-black: #060605;

  --ui-gray-1: #2f4050;
  --ui-gray-2: #3c4c5d;
  --ui-gray-3: #50657c;
  --ui-gray-4: #647e9b;
  --ui-gray-5: #748daa;
  --ui-gray-6: #8da6c4;
  --ui-gray-7: #a1b8d3;
  --ui-gray-8: #b8cbe0;
  --ui-gray-9: #dae5f1;
  --ui-gray-10: #ecf2f8;

  --ui-game-1: #03433c;
  --ui-game-2: #08815c;

  // ui forced color when color-scheme is supported
  // ---------------------------------
  --ui-always-black: #060605;
  --ui-always-white: #fff;

  // fixme: not used
  // ---------------------------------
  --ui-toolRed-1: #de1a00;
  --ui-toolRed-2: #ffe3e0;
  --ui-toolGreen-1: #5a7b00;
  --ui-toolGreen-2: #e7f1cc;
  --ui-toolYellow-1: #836f11;
  --ui-toolYellow-2: #ffffd3;
  --ui-toolBlue-1: #0079a0;
  --ui-toolBlue-2: #def7ff;

  --ui-twitter: #1da1f2;
  --ui-facebook: #3b5998;
  --ui-youtube: #ff0000;
  --ui-flickr: #ff0084;
  --ui-linkedin: #0077b5;


  // == max body size
  // ---------------------------------
  --body-max: #{em(2000)};


  // == gutters
  // ---------------------------------
  --gutter-xsmall:    .5rem;
  --gutter-small:     1rem;
  --gutter-medium:    2rem;
  --gutter-large:     4rem;
  --gutter-xlarge:    8rem;


  // == typography
  // ---------------------------------
  --font-1: 'outfit', Arial, Helvetica, sans-serif;
}


// == medium
// ---------------------------------
@media screen and (max-width: $mq-medium){

  :root{
    // == gutters
    // ---------------------------------
    --gutter-xsmall:    .25rem;
    --gutter-small:     .5rem;
    --gutter-medium:    1rem;
    --gutter-large:     2rem;
    --gutter-xlarge:    4rem;
  }
}


// == color generic classes
// ---------------------------------
@mixin theme($color: fuschia){
  --theme: var(--brand-#{$color});
  --theme-1: var(--brand-#{$color}-1);
  --theme-2: var(--brand-#{$color}-2);
  --theme-3: var(--brand-#{$color}-3);
  --theme-4: var(--brand-#{$color}-4);
}

.theme--fuschia     { @include theme(fuschia); }
.theme--aqua        { @include theme(aqua); }
.theme--lilac       { @include theme(lilac); }
.theme--pink        { @include theme(pink); }
.theme--yellow      { @include theme(yellow); }
.theme--green       { @include theme(green); }
.theme--blue        { @include theme(blue); }
.theme--purple      { @include theme(purple); }
.theme--orange      { @include theme(orange); }
.theme--red         { @include theme(red); }

// blog themes
.theme--apprentissage     { @include theme(fuschia); }
.theme--lavis-cayas       { @include theme(aqua); }
.theme--conseils          { @include theme(green); }

// force theme color on something
.theme-color{ color: var(--theme-2, var(--ui-gray-1)); }

.theme--dark{
  // fuschia
  --brand-fuschia: var(--brand-fuschia-3);    // default
  --brand-fuschia-4: #600c4c;
  --brand-fuschia-3: #ed1e79;
  --brand-fuschia-2: #ff97c5;
  --brand-fuschia-1: #ffd5e8;

  // aqua
  --brand-aqua: var(--brand-aqua-2);          // default
  --brand-aqua-4: #0d5064;
  --brand-aqua-3: #1aecef;
  --brand-aqua-2: #75fafc;
  --brand-aqua-1: #C6feff;

  // lilac
  --brand-lilac: var(--brand-lilac-2);        // default
  --brand-lilac-4: #150b70;
  --brand-lilac-3: #5e3ef0;
  --brand-lilac-2: #c5b5f8;
  --brand-lilac-1: #E4dffc;

  // pink
  --brand-pink: var(--brand-pink-2);          // default
  --brand-pink-4: #620708;
  --brand-pink-3: #d74470;
  --brand-pink-2: #ed81aa;
  --brand-pink-1: #fcc1d7;

  // yellow
  --brand-yellow: var(--brand-yellow-2);      // default
  --brand-yellow-4: #5a4201;
  --brand-yellow-3: #d5a405;
  --brand-yellow-2: #fcd414;
  --brand-yellow-1: #ffec70;

  // green (success)
  --brand-green: var(--brand-green-2);        // default
  --brand-green-4: #1e5c17;
  --brand-green-3: #1e9a14;
  --brand-green-2: #7cfa72;
  --brand-green-1: #ccfdc9;

  // blue
  --brand-blue: var(--brand-blue-3);          // default
  --brand-blue-4: #09288e;
  --brand-blue-3: #4451ff;
  --brand-blue-2: #8bacff;
  --brand-blue-1: #d6e2ff;

  // purple
  --brand-purple: var(--brand-purple-3);      // default
  --brand-purple-4: #441b71;
  --brand-purple-3: #6945d8;
  --brand-purple-2: #9e7bee;
  --brand-purple-1: #d8c0fb;

  // orange (warning)
  --brand-orange: var(--brand-orange-2);      // default
  --brand-orange-4: #5e2800;
  --brand-orange-3: #d86712;
  --brand-orange-2: #ef9755;
  --brand-orange-1: #fbc69e;

  // red (error)
  --brand-red: var(--brand-red-2);            // default
  --brand-red-4: #870a01;
  --brand-red-3: #fd5144;
  --brand-red-2: #ff8077;
  --brand-red-1: #ffcfcc;

  --ui-white: #060605;
  --ui-black: #fff;

  --ui-gray-1: #ecf2f8;
  --ui-gray-2: #dae5f1;
  --ui-gray-3: #b8cbe0;
  --ui-gray-4: #a1b8d3;
  --ui-gray-5: #8da6c4;
  --ui-gray-6: #748daa;
  --ui-gray-7: #647e9b;
  --ui-gray-8: #50657c;
  --ui-gray-9: #3c4c5d;
  --ui-gray-10: #2f4050;


  // == special cases tuning
  // ---------------------------------
  &.view--lesson .wrapper{ background: transparent; }

  .grunge-zone::before{ filter: invert(100%); }

  img.training-canvas__deco-item{
    filter: grayscale(50%) saturate(270%) hue-rotate(42deg);
    opacity: .4;
  }
}
