/*------------------------------------------------------------------------------
    CSS Document (http://www.w3.org/Style/CSS/)

    project:    Cayas
    created:    2025-01-01
    author:     Christophe ANDRIEU (http://www.stpo.fr)

    summary:    SETUP, VARIABLES AND SPECIFIC SCSS
                GLOBAL LAYOUT
                    generic
                    misc
                LISTS
                    inline
                    social
                CORE
                    images
                    home
                    core misc
                MEDIA QUERIES
                    xlarge
                    large
                    medium
                    small
                    xsmall
                    xxsmall
                PRINT
----------------------------------------------------------------------------- */

//
// == SETUP, VARIABLES AND GENERIC SCSS
// --------------------------------------------------
// FYI: all variables are in _variables.scss
@use "__setup" as *; // variables & mixins               -- DON'T TOUCH ME

@forward "__normalize"; // CSS reset                        -- DON'T TOUCH ME
@forward "__normalize-tuning"; // CSS reset tuning                 -- DON'T TOUCH ME
@forward "__generic"; // generic classes                  -- DON'T TOUCH ME
@forward "__layout"; // html, body, wrapper & grid       -- DON'T TOUCH ME
@forward "__icon-font"; // icon font generated stylesheet   -- DON'T TOUCH ME

@forward "_font-face"; // font-face setting
@forward "_animations"; // CSS animations
@forward "_typography"; // titles, texts... all font sizes and styles
@forward "_links"; // button, links
//@forward "_forms"; // form stuff
@forward "_header"; // the header
@forward "_footer"; // the footer
//@forward "_modals"; // modal windows stuff


//
// == GLOBAL LAYOUT
// --------------------------------------------------
// == generic
// ---------------------------------
::selection {
    color: var(--ui-always-white);
    background-color: var(--brand-pink);
}

* {
    text-decoration-thickness: 1px !important;
}

mark {
    background-color: var(--ui-toolYellow-2);
}

html {
    scroll-padding-top: 10rem;
    scroll-padding-bottom: 10rem;
}

// DEBUG -- used to test media-queries
// ALSO -- content is used to pass breakpoints to Javascript (see stpo.getBreakpoint)
body::before { display: none; }

// == wrapper
// ---------------------------------
.wrapper {
    max-width: 122rem;
    padding: 0 var(--gutter-medium);
}

//
// == LISTS
// --------------------------------------------------
// == inline
// ---------------------------------
.list-inline {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75em;

    li {
        margin: 0 !important;
        padding: 0 !important;

        &::before {
            display: none;
        }
    }

    &.list-inline--justify {
        justify-content: space-between;
    }
    &.list-inline--center {
        justify-content: center;
    }
    &.list-inline--right {
        justify-content: flex-end;
    }
}

// == social
// ---------------------------------
.list-social {
    gap: 0.15em;

    .svg-icon {
        font-size: 2.5em;
    }

    a {
        display: block;
        color: var(--ui-always-black);
        // --
        transition: color ease-in-out 400ms;

        &:hover,
        &:focus {
            color: var(--brand-pink);
            transition-duration: 50ms;
        }
    }
}

//
// == CORE
// --------------------------------------------------
// == images
// ---------------------------------
figure {
    img {
        display: block;
        max-width: 100%;
    }

    figcaption {
        margin-top: 1rem;
    }
}

// == home
// ---------------------------------
// dark theme
.home-hero {
    position: relative;
    padding-top: calc(var(--gutter-xlarge) * 1.5);
    padding-bottom: calc(var(--gutter-xlarge) * 1.5);
    background: var(--ui-white) repeat center;
    background-image: url("/assets/generic/bg_grid.png");
    text-align: center;

    .home-hero__deco{
        position: absolute;

        &.home-hero__deco--1{
            top: 5%;
            left: 12.5%;
            width: 10%;
            height: auto;
        }

        &.home-hero__deco--2{
            bottom: 5%;
            right: 5%;
            width: 20%;
            max-width: 50rem;
            height: auto;
        }

        &.home-hero__deco--3{
            bottom: -25%;
            left: 0;
            width: 20%;
            max-width: 14.5em;
            height: auto;
        }

        &.home-hero__deco--4{
            top: 0;
            right: 0;
            width: 16%;
            max-width: 12.5em;
            height: auto;
        }
    }

    .title--1 strong{
        color: var(--ui-white);
        background: var(--a11y-green);
        box-decoration-break: clone;
    }

    .list-inline{ margin-top: var(--gutter-large); }
}

.home-offer{
    padding-top: calc(var(--gutter-xlarge) * 1.5);
    padding-bottom: calc(var(--gutter-xlarge) * 1.5);
    text-align: center;

    .grid{
        margin-top: var(--gutter-large);

        > *{
            display: flex;

            > *{
                width: 100%;
                padding: var(--gutter-medium) var(--gutter-medium) var(--gutter-large) var(--gutter-medium);
                @include box-shadow(.2rem, .5rem, var(--color));
            }

            .svg-icon{
                margin-bottom: -.15em;
                font-size: 5em;
                line-height: 1;
            }

            .title--3 strong{
                display: inline;
                color: var(--ui-always-white);
                background: var(--color);
                box-decoration-break: clone;
            }

            &:nth-child(1){ --color: var(--a11y-pink); }
            &:nth-child(2){ --color: var(--a11y-blue); }
            &:nth-child(3){ --color: var(--a11y-violet); }
        }
    }
}

.home-products{
    position: relative;
    border-top: .2rem solid var(--ui-black);
    border-bottom: .2rem solid var(--ui-black);

    &::before{
        content: '';
        position: absolute;
        @include offset(0,0,0,50%);
        background: var(--ui-white) repeat center;
        background-image: url("/assets/generic/bg_grid.png");
        border-top: 2.5em solid var(--ui-white);
        border-bottom: 2.5em solid var(--ui-white);
    }

    &::after{
        content: '';
        position: absolute;
        @include offset(0,inherit,0,50%);
        border-left: .2rem solid var(--ui-black);
    }

    .home-products__core{
        padding-top: var(--gutter-xlarge);
        padding-bottom: var(--gutter-xlarge);
        padding-right: var(--gutter-large);
    }

    .grid{ align-items: center; }

    .accordion-container{
        counter-reset: li;
        list-style-type: none;
        margin: var(--gutter-large) 0 0;
        padding: 0;

        > li{
            margin-bottom: var(--gutter-medium);

            .accordion{
                --color: var(--ui-gray-3);
                --color-boost: var(--ui-gray-3);
                @include box-shadow(.2rem, .5rem, var(--color-boost));
                color: var(--color);

                &:open{
                    --color: var(--ui-black);
                    --color-boost: var(--brand-pink);
                }
            }

            .accordion__title{
                counter-increment: li;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1em;
                width: 100%;
                margin: 0;
                padding: var(--gutter-small) var(--gutter-medium);
                font-weight: 700;

                &::before{
                    content: counter(li)  '.';
                    color: var(--color-boost);
                    font-weight: 900;
                    font-size: 1.5em;
                }

                .title--2{ margin: 0; }

                .svg-icon{
                    margin-left: -.25em;
                    font-size: 2em;
                }

                &.accordion__caller{
                    text-align: left;
                    text-decoration: none;
                    cursor: pointer;

                    span{
                        @include text-underline(transparent);
                    }

                    &:hover, &:focus{
                        span{
                            @include text-underline--hover(currentColor);
                        }
                    }
                }
            }

            .accordion__panel{
                padding: var(--gutter-small) var(--gutter-medium) var(--gutter-medium);
                border-top: .2rem solid var(--color-boost);
            }

            .accordion__picture-inside{
                padding: var(--gutter-medium);
                margin-bottom: 2em;
                background: repeat center;
                background-image: url("/assets/generic/bg_grid.png");
            }
        }
    }

    .accordion-picture{
        display: none;
        position: relative;

        &[aria-hidden="false"]{
            display: block;
            animation: fadeIn ease-in-out 1s forwards;
        }
    }
}

.home-mission{
    position: relative;
    padding-top: calc(var(--gutter-xlarge) * 1);
    padding-bottom: calc(var(--gutter-xlarge) * 1);
    background: repeat center;
    background-image: url("/assets/generic/bg_grid.png");

    .home-mission__deco{
        position: absolute;

        &.home-mission__deco--1{
            top: 0;
            left: 0;
            width: 20%;
            max-width: 18em;
            height: auto;
        }

        &.home-mission__deco--2{
            bottom: 5%;
            left: 80%;
            width: 20%;
            max-width: 17.5em;
            height: auto;
        }
    }

    .grid{
        position: relative;

        > * > *{
            padding: var(--gutter-large);
            background: var(--ui-white);
            @include box-shadow(.2rem, .5rem, var(--brand-pink));
        }
    }

    strong{
        padding: 0 .25em;
        background: var(--brand-green);
        box-decoration-break: clone;
        color: var(--ui-always-black);
        font-weight: normal;
    }
}

// dark theme
.home-cta {
    position: relative;
    overflow: hidden;
    padding-top: calc(var(--gutter-xlarge) * 2);
    padding-bottom: calc(var(--gutter-xlarge) * 2);
    background: var(--ui-white);
    border-top: .2rem solid var(--ui-black);
    border-bottom: .2rem solid var(--ui-black);
    text-align: center;

    .home-cta__deco{
        position: absolute;

        &.home-cta__deco--1{
            top: 0;
            left: 0;
            font-size: 12.5vw;
            color: var(--brand-green);
        }

        &.home-cta__deco--2{
            bottom: 0;
            right: 0;
            width: 20%;
            max-width: 15em;
            height: auto;
        }
    }
}

// == core misc
// ---------------------------------
.cayas-logo {
    max-width: 12rem;
    margin: 0;

    svg {
        display: block;
        width: 100%;
        height: auto;

        .black {
            fill: var(--ui-black);
        }
    }
}

hr {
    margin: var(--gutter-medium) 0;
    border: none;
    border-top: 1px solid var(--ui-gray-3);

    &.hr--naked {
        border-color: transparent;
    }
}


//
// == MEDIA QUERIES
// --------------------------------------------------
// == xlarge
// ---------------------------------
@media screen and (max-width: $mq-xlarge) {
}

// == large
// ---------------------------------
@media screen and (max-width: $mq-large) {
}

// == medium
// ---------------------------------
@media screen and (max-width: $mq-medium) {

    .home-hero{
        overflow: hidden;
        display: flex;
        align-items: center;
        min-height: 50vh;

        .home-hero__deco.home-hero__deco--1{ left: 8%; }
    }

    .home-cta{
        .wrapper{ max-width: 75%; }
        .home-cta__deco.home-cta__deco--2{ right: -5%; }
    }
}

// == small
// ---------------------------------
@media screen and (max-width: $mq-small) {
    .home-offer .grid, .home-mission .grid{
        max-width: 40rem;
        margin: 0 auto;
    }

    .home-mission{
        padding-bottom: 25%;

        .home-mission__deco.home-mission__deco--1{ left: -5%; }

        .home-mission__deco.home-mission__deco--2{
            left: 70%;
            width: 30%;
            bottom: 0;
        }
    }
}

// == xsmall
// ---------------------------------
@media screen and (max-width: $mq-xsmall) {

    .home-hero{
        padding-top: 35vw;
        padding-bottom: 55vw;

        .home-hero__deco.home-hero__deco--1{
            display: none;
        }

        .home-hero__deco.home-hero__deco--2{
            width: 40vw;
        }

        .home-hero__deco.home-hero__deco--3{
            bottom: -20vw;
            max-width: inherit;
            width: 30vw;
        }

        .home-hero__deco.home-hero__deco--4{
            max-width: inherit;
            width: 45vw;
        }
    }

    .home-products{
        &::before, &::after{ display: none; }

        .title--2{ text-align: center; }

        .home-products__core{
            padding: 15vw var(--gutter-medium) 5vw;
        }
    }

    .home-mission{
        padding-top: 35vw;
        padding-bottom: 75vw;
        background-image: none;

        .grid{
            max-width: inherit;

            > * > *{
                padding: 0;
                border: none;
                box-shadow: none;
            }

            .title--2{ text-align: center; }
        }

        .home-mission__deco.home-mission__deco--1{
            width: 80vw;
            max-width: inherit;
        }

        .home-mission__deco.home-mission__deco--2{
            bottom: 10vw;
            right: inherit;
            left: 50%;
            transform: translateX(-50%);
            width: 55vw;
            max-width: inherit;
        }
    }

    .home-cta{
        padding-top: 50vw;
        padding-bottom: 50vw;

        .wrapper{ max-width: inherit; }

        .home-cta__deco.home-cta__deco--1{
            font-size: 30vw;
            top: 10vw;
            left: 5vw;
        }

        .home-cta__deco.home-cta__deco--2{
            right: 0;
            width: 40vw;
        }
    }
}

// == xxsmall
// ---------------------------------
@media screen and (max-width: $mq-xxsmall) {

    .home-hero .big-font br{ display: none; }

}

//
// == PRINT
// --------------------------------------------------
@media print {
    html,
    body {
        position: static;
        float: none;
        width: auto;
        height: auto;
        min-height: auto;
        margin: 0;
        padding: 0;
        background: none var(--ui-white);
        color: #000;
    }

    body {
        padding: 0.5em;
    }
    a {
        text-decoration: underline;
    }
    a[href]::after {
        content: " (" attr(href) ")";
    }
    a[href="#"],
    a[href="javascript:"] {
        content: "";
    }
}
