/*------------------------------------------------------------------------------
    CSS Document (http://www.w3.org/Style/CSS/)

    project:    Cayas
    created:    2025-01-01
    author:     Christophe ANDRIEU (http://www.stpo.fr)

    summary:    SETUP, VARIABLES AND SPECIFIC SCSS
                GLOBAL LAYOUT
                    generic
                    misc
                LISTS
                    inline
                    social
                    checklist
                CORE
                    images
                    status
                    editorial
                    transverse
                    home
                    split page
                    core misc
                MEDIA QUERIES
                    xlarge
                    large
                    medium
                    small
                    xsmall
                    xxsmall
                PRINT
----------------------------------------------------------------------------- */

//
// == SETUP, VARIABLES AND GENERIC SCSS
// --------------------------------------------------
// FYI: all variables are in _variables.scss
@use "__setup" as *; // variables & mixins               -- DON'T TOUCH ME

@forward "__normalize"; // CSS reset                        -- DON'T TOUCH ME
@forward "__normalize-tuning"; // CSS reset tuning                 -- DON'T TOUCH ME
@forward "__generic"; // generic classes                  -- DON'T TOUCH ME
@forward "__layout"; // html, body, wrapper & grid       -- DON'T TOUCH ME
@forward "__icon-font"; // icon font generated stylesheet   -- DON'T TOUCH ME

@forward "_font-face"; // font-face setting
@forward "_animations"; // CSS animations
@forward "_typography"; // titles, texts... all font sizes and styles
@forward "_links"; // button, links
//@forward "_forms"; // form stuff
@forward "_header"; // the header
@forward "_footer"; // the footer
@forward "_blog"; // blog listing and post styles
//@forward "_modals"; // modal windows stuff

//
// == GLOBAL LAYOUT
// --------------------------------------------------
// == generic
// ---------------------------------
::selection {
  color: var(--ui-always-white);
  background-color: var(--brand-fuschia);
}

* {
  text-decoration-thickness: 1px !important;
}

mark {
  background-color: var(--ui-toolYellow-2);
}

html {
  scroll-padding-top: 10rem;
  scroll-padding-bottom: 10rem;
}

// DEBUG -- used to test media-queries
// ALSO -- content is used to pass breakpoints to Javascript (see stpo.getBreakpoint)
body::before {
  display: none;
}

// == wrapper
// ---------------------------------
.wrapper {
  max-width: 80rem;
  padding: 0 var(--gutter-medium);

  &.wrapper--small {
    max-width: 50rem;
  }
  &.wrapper--medium {
    max-width: 104rem;
  }
  &.wrapper--wide {
    max-width: 124rem;
  }
}

//
// == LISTS
// --------------------------------------------------
// == inline
// ---------------------------------
.list-inline {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75em;

  li {
    margin: 0 !important;
    padding: 0 !important;

    &::before {
      display: none;
    }
  }

  &.list-inline--justify {
    justify-content: space-between;
  }
  &.list-inline--center {
    justify-content: center;
  }
  &.list-inline--right {
    justify-content: flex-end;
  }
}

// == social
// ---------------------------------
.list-social {
  gap: 0.15em;

  li{
    a{
      padding: 0;

      &::after{ display: none; }
    }
  }

  .svg-icon {
    font-size: 2.5em;
  }

  a {
    display: block;
    color: var(--ui-always-black);
    // --
    transition: color ease-in-out 400ms;

    &:hover,
    &:focus {
      color: var(--brand-fuschia);
      transition-duration: 50ms;
    }
  }
}

// == checklist
// ---------------------------------
.list-checklist {
  li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5em;

    &:not(:first-child) {
      margin-top: 0.5em;
    }

    .svg-icon {
      flex: 0 0 auto;
      fill: transparent;
      stroke: var(--brand-green);
      stroke-width: 0.3rem;
      font-size: 1.25em;
    }
  }
}

//
// == CORE
// --------------------------------------------------
// == images
// ---------------------------------
figure {
  img {
    display: block;
    max-width: 100%;
  }

  figcaption {
    margin-top: 1rem;
  }
}

// == status
// ---------------------------------
.status {
  --text-color: var(--theme-1, var(--ui-gray-1));
  --dot-color: var(--theme-2, var(--ui-gray-6));
  --color: var(--theme-4, var(--ui-gray-8));
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
  padding: 0.1em 0.5em;
  background: var(--color);
  border-radius: 1em;
  color: var(--text-color);
  white-space: nowrap;
  line-height: 1.15;

  &::before {
    display: none;
    content: "";
    height: 0.75em;
    width: 0.75em;
    border-radius: 50%;
    background-color: var(--dot-color);
  }

  &.status--indicator::before {
    display: block;
  }
}

.status-alt {
  display: inline-block;
  padding: 0.05em 0.25em;
  background: var(--theme-4, var(--ui-gray-9));
  border: 1px solid transparent;
  color: var(--theme-1, var(--ui-gray-1));
  font-weight: 700;
}

a .status-alt{
  &:hover, &:focus{
    border-color: var(--theme-3, var(--ui-gray-3));
  }
}

// == editorial
// ---------------------------------
.editorial {
  h1 {
    @extend .title--2;
  }
  h2 {
    @extend .title--3;
  }
  h3 {
    @extend .title--4;
  }
  h4 {
    @extend .title--4;
  }

  h1,
  h2,
  h3,
  h4 {
    &:not(:first-child) {
      margin-top: 2.5em;
    }
  }

  ul,
  ol {
    margin-bottom: 1.5em;
    margin-left: 1em;
    padding-left: 0;

    li {
      overflow: hidden;
      position: relative;
      padding: 0.1rem 0.1rem 0.1rem 1.75em;
      margin-bottom: 0.5em;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        line-height: inherit !important;
      }

      ul,
      ol {
        margin-top: 0.5em;
        margin-bottom: 0;
        margin-left: 0;
      }
    }
  }

  ul {
    li {
      &::before {
        content: "●";
        //top: -0.25em;
        //width: 2.25em;
        //height: 2.25em;
        //mask-image: url("/assets/generic/arrow-2--right.svg");
        //mask-size: auto 2.25em;
        //mask-repeat: no-repeat;
        //background-color: var(--ui-gray-2);
      }
    }
  }

  ol {
    counter-reset: ol;
    list-style-type: none;

    li {
      counter-increment: ol;

      &::before {
        content: counter(ol) ".";
        width: 2.25em;
        color: var(--brand-fuschia);
        text-align: right;
        font-weight: bold;
      }
    }
  }

  img,
  picture {
    max-width: 100%;
    height: auto;
  }

  h2 strong {
    padding: 0 0.25em;
    box-decoration-break: clone;
    background: var(--brand-fuschia);
    color: var(--ui-always-white);
  }

  //strong {
  //  padding: 0 0.25em;
  //  box-decoration-break: clone;
  //  background: var(--brand-green);
  //  color: var(--ui-always-black);
  //}

  .editorial__boost {
    padding: var(--gutter-large);
    background: var(--ui-white);
    @include box-shadow(0.2rem, 0.5rem, var(--brand-fuschia));
  }

  //.editorial__quote {
  //  position: relative;
  //  padding-left: 6em;
  //
  //  .icon,
  //  .svg-icon {
  //    position: absolute;
  //    left: 0;
  //    top: -0.15em; // cheat
  //    font-size: 5em;
  //    color: var(--brand-fuschia);
  //    line-height: 1;
  //  }
  //
  //  blockquote {
  //    margin: 0;
  //    padding-bottom: 0.5em;
  //    border-bottom: 1px solid var(--ui-gray-4);
  //
  //    > * {
  //      font-size: inherit;
  //    }
  //  }
  //
  //  figcaption {
  //    margin-top: 1rem;
  //    font-style: italic;
  //  }
  //}

  blockquote{
    position: relative;
    margin: 0 0 1.5em;
    padding: 1.5em 2em 1.5em 5em;
    background: var(--ui-gray-10);

    &::before{
      content: "";
      position: absolute;
      left: .25em;
      top: .25em;
      width: 1em;
      height: 1em;
      mask-image: url("/assets/generic/icon--quotes.svg");
      mask-size: auto 0.75em;
      mask-repeat: no-repeat;
      background-color: var(--brand-fuschia);
      font-size: 3em;
    }

    p{
      @extend .title--3;
      color: var(--ui-black);

      // reset title--3
      em{
        background: none;
        padding: 0;
      }
    }

    cite{
      display: block;
      padding-top: var(--gutter-small);
      border-top: 1px solid var(--ui-gray-8);
      font-style: normal;
    }
  }

  .editorial__media {
    margin: 4rem 0;

    &.editorial__media--left {
      margin-left: 0;
      margin-right: 0;

      .editorial__img {
        float: left;
        width: 50%;
        margin-right: 2rem;
        padding-right: 2rem;
      }
    }

    &.editorial__media--right {
      margin-left: 0;
      margin-right: 0;

      .editorial__img {
        float: right;
        width: 50%;
        margin-left: 2rem;
        padding-left: 2rem;
      }
    }

    &.editorial__media--tiny {
      .editorial__img {
        width: 25%;
      }
    }

    .editorial__img {
      margin-bottom: 2rem;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  table{
    width: 100%;
    border-collapse: collapse;

    td,
    th {
      border: 1px solid #ddd;
      font-size: 100%;
      padding: 1em 0.5em;
      vertical-align: top;
    }
  }

  .grid > * {
    margin-top: 1.5em;
  }
}

// == transverse
// ---------------------------------
.page-transverse {
  position: relative;
  padding-top: var(--gutter-xlarge);
  padding-bottom: calc(var(--gutter-xlarge) * 1.5);
  background: var(--ui-white);
  border-top: 1px solid var(--ui-gray-3);
  border-bottom: 1px solid var(--ui-gray-4);

  &::before {
    content: "";
    position: absolute;
    @include offset();
    background-image: url("/assets/generic/bg_grunge.webp");
    background-size: cover;
    opacity: 0.1;
  }

  > * {
    z-index: 1;
    position: relative;
  }

  .page-transverse__deco {
    position: absolute;
    font-size: 7.5em;

    &.page-transverse__deco--1 {
      left: 2.5%;
      top: 20%;
      color: var(--brand-aqua);
    }

    &.page-transverse__deco--2 {
      right: 5%;
      top: 50%;
      color: var(--brand-green);
    }

    &.page-transverse__deco--3 {
      right: 10%;
      top: 10%;
      color: var(--brand-pink);
    }

    &.page-transverse__deco--4 {
      left: 2.5%;
      bottom: 10%;
      color: var(--brand-purple);
    }
  }
}

// == home
// ---------------------------------
// dark theme
.home-hero {
  position: relative;
  padding-top: calc(var(--gutter-xlarge) * 1.5);
  padding-bottom: calc(var(--gutter-xlarge) * 1.5);
  background: var(--ui-white) repeat center;
  background-image: url("/assets/generic/bg_grid.png");
  text-align: center;

  .home-hero__deco {
    position: absolute;

    &.home-hero__deco--1 {
      top: 5%;
      left: 12.5%;
      width: 10%;
      height: auto;
    }

    &.home-hero__deco--2 {
      bottom: 5%;
      right: 5%;
      width: 20%;
      max-width: 30rem;
      height: auto;
    }

    &.home-hero__deco--3 {
      bottom: -25%;
      left: 0;
      width: 20%;
      max-width: 14.5em;
      height: auto;
    }

    &.home-hero__deco--4 {
      top: 0;
      right: 0;
      width: 16%;
      max-width: 12.5em;
      height: auto;
    }
  }

  .title--1 strong {
    color: var(--ui-white);
    background: var(--brand-green);
    box-decoration-break: clone;
  }

  .list-inline {
    margin-top: var(--gutter-large);
  }
}

.home-offer {
  padding-top: calc(var(--gutter-xlarge) * 1.5);
  padding-bottom: calc(var(--gutter-xlarge) * 1.5);
  text-align: center;

  .grid {
    margin-top: var(--gutter-large);

    > * {
      display: flex;

      > * {
        width: 100%;
        padding: var(--gutter-medium) var(--gutter-medium) var(--gutter-large)
          var(--gutter-medium);
        @include box-shadow(0.2rem, 0.5rem, var(--theme));
      }

      .svg-icon {
        margin-bottom: -0.15em;
        font-size: 5em;
        line-height: 1;
      }

      .title--3 strong {
        display: inline;
        color: var(--ui-always-white);
        background: var(--theme);
        box-decoration-break: clone;
      }

      //&:nth-child(1){ --color: var(--brand-fuschia); }
      //&:nth-child(2){ --color: var(--brand-blue); }
      //&:nth-child(3){ --color: var(--brand-violet); }
    }
  }
}

.home-products {
  position: relative;
  border-top: 0.2rem solid var(--ui-black);
  border-bottom: 0.2rem solid var(--ui-black);

  &::before {
    content: "";
    position: absolute;
    @include offset(0, 0, 0, 50%);
    background: var(--ui-white) repeat center;
    background-image: url("/assets/generic/bg_grid.png");
    border-top: 2.5em solid var(--ui-white);
    border-bottom: 2.5em solid var(--ui-white);
  }

  &::after {
    content: "";
    position: absolute;
    @include offset(0, inherit, 0, 50%);
    border-left: 0.2rem solid var(--ui-black);
  }

  .home-products__core {
    padding-top: var(--gutter-xlarge);
    padding-bottom: var(--gutter-xlarge);
    padding-right: var(--gutter-large);
  }

  .grid {
    align-items: center;
  }

  .accordion-container {
    counter-reset: li;
    list-style-type: none;
    margin: var(--gutter-large) 0 0;
    padding: 0;

    > li {
      margin-bottom: var(--gutter-medium);

      .accordion {
        --color: var(--ui-gray-3);
        --color-boost: var(--ui-gray-3);
        @include box-shadow(0.2rem, 0.5rem, var(--color-boost));
        color: var(--color);

        &:open {
          --color: var(--ui-black);
          --color-boost: var(--brand-fuschia);
        }
      }

      .accordion__title {
        counter-increment: li;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
        width: 100%;
        margin: 0;
        padding: var(--gutter-small) var(--gutter-medium);
        font-weight: 700;

        &::before {
          content: counter(li) ".";
          color: var(--color-boost);
          font-weight: 900;
          font-size: 1.5em;
        }

        .title--2 {
          margin: 0;
        }

        .svg-icon {
          margin-left: -0.25em;
          font-size: 2em;
        }

        &.accordion__caller {
          text-align: left;
          text-decoration: none;
          cursor: pointer;

          span {
            @include text-underline(transparent);
          }

          &:hover,
          &:focus {
            span {
              @include text-underline--hover(currentColor);
            }
          }
        }
      }

      .accordion__panel {
        padding: var(--gutter-small) var(--gutter-medium) var(--gutter-medium);
        border-top: 0.2rem solid var(--color-boost);
      }

      .accordion__picture-inside {
        padding: var(--gutter-medium);
        margin-bottom: 2em;
        background: repeat center;
        background-image: url("/assets/generic/bg_grid.png");
      }
    }
  }

  .accordion-picture {
    display: none;
    position: relative;

    &[aria-hidden="false"] {
      display: block;
      animation: fadeIn ease-in-out 1s forwards;
    }
  }
}

.home-mission {
  position: relative;
  padding-top: calc(var(--gutter-xlarge) * 1);
  padding-bottom: calc(var(--gutter-xlarge) * 1);
  background: repeat center;
  background-image: url("/assets/generic/bg_grid.png");

  .home-mission__deco {
    position: absolute;

    &.home-mission__deco--1 {
      top: 0;
      left: 0;
      width: 20%;
      max-width: 18em;
      height: auto;
    }

    &.home-mission__deco--2 {
      bottom: 5%;
      left: 80%;
      width: 20%;
      max-width: 17.5em;
      height: auto;
    }
  }

  .grid {
    position: relative;

    > * > * {
      padding: var(--gutter-large);
      background: var(--ui-white);
      @include box-shadow(0.2rem, 0.5rem, var(--brand-fuschia));
    }
  }

  strong {
    padding: 0 0.25em;
    background: var(--brand-green);
    box-decoration-break: clone;
    color: var(--ui-always-black);
    font-weight: normal;
  }
}

// dark theme
.home-cta {
  position: relative;
  overflow: hidden;
  padding-top: calc(var(--gutter-xlarge) * 1.5);
  padding-bottom: calc(var(--gutter-xlarge) * 1.5);
  background: var(--ui-white);
  background-image: url("/assets/generic/bg_grid.png");
  border-top: 0.2rem solid var(--ui-black);
  border-bottom: 0.2rem solid var(--ui-black);
  text-align: center;

  .home-cta__deco {
    position: absolute;

    &.home-cta__deco--1 {
      top: 0;
      left: 0;
      font-size: 8.5vw;
      color: var(--brand-green);
    }

    &.home-cta__deco--2 {
      bottom: 0;
      right: 0;
      width: 20%;
      max-width: 15em;
      height: auto;
    }
  }
}

// == split page
// ---------------------------------
.split-page {
  position: relative;
  min-height: 100dvh;
  display: flex;
  justify-content: safe center;
  align-items: safe center;
  padding-bottom: var(--gutter-large);
  background: var(--ui-white);
  border-bottom: 1px solid var(--ui-gray-9);

  &::before {
    content: "";
    position: absolute;
    @include offset(0, 0, 0, 50%);
    background-image: url("/assets/generic/bg_grid.png");
  }

  .split-page__deco {
    overflow: hidden;
    position: absolute;
    @include offset();

    .split-page__deco-item {
      position: absolute;
      top: 50%; // plz override
      left: 50%; // plz override
      width: 20%; // plz override
      height: auto;
      color: var(--theme, var(--ui-gray-8));

      &.svg-icon {
        opacity: 0.75;
      }
    }
  }

  main {
    position: relative;
    padding-top: 5em;
  }

  .grid {
    padding-bottom: var(--gutter-large);
  }
}

.block-offer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: var(--gutter-medium);
  padding: var(--gutter-medium) var(--gutter-large);
  background: var(--ui-white);
  @include box-shadow(0.2rem, 0.5rem, var(--theme, var(--ui-black)));

  .block-offer__img {
    position: absolute;
    top: 0;
    width: 25%;
    max-width: 12.5rem;

    &.block-offer__img--left {
      right: 100%;
      margin-right: -0.5rem;
    }

    &.block-offer__img--right {
      transform: scale(-1, 1);
      left: 100%;
      margin-left: -0.75rem;
    }
  }

  .block-offer__content {
    flex-grow: 1;
  }
  .block-offer__intro {
    margin-bottom: var(--gutter-medium);
  }

  p {
    margin: 0;
  }
  p + ul {
    margin-top: 1em;
  }

  .button {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    text-align: center;
  }
}


// == component: block-mirror
// ---------------------------------
// all the compos with two facing elements that wrap when no more space
.block-mirror{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gutter-medium);

  *{ margin: 0; }
  .sized-img{ margin: 0; }

  &.block-mirror--full > *{ flex: 1 1 0; }
  &.block-mirror--nowrap{ flex-wrap: nowrap; }
}


// == core misc
// ---------------------------------
// color helpers
.color-gray     { color: var(--ui-gray-4); }            // gray color helper for all small texts and stuff
.color-green    { color: var(--brand-green-2); }        // this is for stonk up
.color-orange   { color: var(--brand-orange-3); }       // this is for stonk mid
.color-red      { color: var(--brand-red-2); }          // this is for stonk down

.cayas-logo {
  max-width: 12rem;
  margin: 0;

  svg {
    display: block;
    width: 100%;
    height: auto;

    .black {
      fill: var(--ui-black);
    }
  }
}

hr {
  margin: var(--gutter-medium) 0;
  border: none;
  border-top: 1px solid var(--ui-gray-3);

  &.hr--naked {
    border-color: transparent;
  }
  
  &.hr--large{
    margin: var(--gutter-large) 0;
  }
}

//
// == MEDIA QUERIES
// --------------------------------------------------
// == xlarge
// ---------------------------------
@media screen and (max-width: $mq-xlarge) {
}

// == large
// ---------------------------------
@media screen and (max-width: $mq-large) {
  .wrapper.wrapper--small {
    max-width: 70rem;
  }
}

// == medium
// ---------------------------------
@media screen and (max-width: $mq-medium) {
  // == transverse
  // ---------------------------------
  .page-transverse {
    &::before {
      opacity: 0.05;
    }
    .page-transverse__deco {
      display: none;
    }
  }

  // == home
  // ---------------------------------
  .home-hero {
    overflow: hidden;
    display: flex;
    align-items: center;
    min-height: 50vh;

    .home-hero__deco.home-hero__deco--1 {
      left: 8%;
    }
  }

  .home-cta {
    .wrapper {
      max-width: 75%;
    }
    .home-cta__deco.home-cta__deco--2 {
      right: -5%;
    }
  }
}

// == small
// ---------------------------------
@media screen and (max-width: $mq-small) {
  // == editorial
  // ---------------------------------
  .editorial {
    .editorial__media {
      margin: 2rem 0;

      &:not(.editorial__media--tiny) {
        &.editorial__media--left,
        &.editorial__media--right {
          .editorial__img {
            float: none;
            width: 100%;
            margin-right: 0;
            margin-left: 0;
            padding-right: 0;
            padding-left: 0;
          }
        }
      }

      .editorial__img {
        margin-bottom: 1rem;
      }
    }

    // HACKY
    .grid.grid--small-flat .grid__50:last-child {
      margin-top: 0;
    }
  }

  // == home
  // ---------------------------------
  .home-offer .grid,
  .home-mission .grid {
    max-width: 40rem;
    margin: 0 auto;
  }

  .home-mission {
    padding-bottom: 25%;

    .home-mission__deco.home-mission__deco--1 {
      left: -5%;
    }

    .home-mission__deco.home-mission__deco--2 {
      left: 70%;
      width: 30%;
      bottom: 0;
    }
  }

  // == split page
  // ---------------------------------
  .split-page {
    &::before {
      left: 0;
    }

    .header-logo {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    main {
      padding-top: 2em;
    }

    .grid:not(.split-page__columns) {
      padding-bottom: 2em;
      gap: 2em;

      > :first-child {
        order: 2;
      }
      > :last-child {
        order: 1;
      }
    }
  }
}

// == xsmall
// ---------------------------------
@media screen and (max-width: $mq-xsmall) {
  // == home
  // ---------------------------------
  .home-hero {
    padding-top: 35vw;
    padding-bottom: 55vw;

    .home-hero__deco.home-hero__deco--1 {
      display: none;
    }

    .home-hero__deco.home-hero__deco--2 {
      width: 40vw;
    }

    .home-hero__deco.home-hero__deco--3 {
      bottom: -20vw;
      max-width: inherit;
      width: 30vw;
    }

    .home-hero__deco.home-hero__deco--4 {
      max-width: inherit;
      width: 45vw;
    }
  }

  .home-products {
    &::before,
    &::after {
      display: none;
    }

    .title--2 {
      text-align: center;
    }

    .home-products__core {
      padding: 15vw var(--gutter-medium) 5vw;
    }
  }

  .home-mission {
    padding-top: 35vw;
    padding-bottom: 75vw;
    background-image: none;

    .grid {
      max-width: inherit;

      > * > * {
        padding: 0;
        border: none;
        box-shadow: none;
      }

      .title--2 {
        text-align: center;
      }
    }

    .home-mission__deco.home-mission__deco--1 {
      width: 80vw;
      max-width: inherit;
    }

    .home-mission__deco.home-mission__deco--2 {
      bottom: 10vw;
      right: inherit;
      left: 50%;
      transform: translateX(-50%);
      width: 55vw;
      max-width: inherit;
    }
  }

  .home-cta {
    padding-top: 50vw;
    padding-bottom: 50vw;

    .wrapper {
      max-width: inherit;
    }

    .home-cta__deco.home-cta__deco--1 {
      font-size: 30vw;
      top: 10vw;
      left: 5vw;
    }

    .home-cta__deco.home-cta__deco--2 {
      right: 0;
      width: 40vw;
    }
  }
}

// == xxsmall
// ---------------------------------
@media screen and (max-width: $mq-xxsmall) {
  // == home
  // ---------------------------------
  .home-hero .big-font br {
    display: none;
  }
}

//
// == PRINT
// --------------------------------------------------
@media print {
  html,
  body {
    position: static;
    float: none;
    width: auto;
    height: auto;
    min-height: auto;
    margin: 0;
    padding: 0;
    background: none var(--ui-white);
    color: #000;
  }

  body {
    padding: 0.5em;
  }
  a {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  a[href="#"],
  a[href="javascript:"] {
    content: "";
  }
}

