# Compiled output
_site/

# Node
/node_modules
npm-debug.log
yarn-error.log

# Environment
.env

# 11ty
views/*.css
.cache

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
