---
layout: layout.html
title: Cayas ★ Conditions Générales d’Utilisation
description: Cayas est dédié à celles et ceux qui veulent comprendre, apprendre et investir rationnellement, sans bullshit ni jargon marketing. Voici les règles du jeu.
---

{% include 'header.html' %}

<main role="main" id="main-content">

    <section class="page-transverse" aria-labelledby="title-section-01">

        <svg class="svg-icon page-transverse__deco page-transverse__deco--1" aria-hidden="true"><use xlink:href="{{ '/assets/sprites.svg#vs--splat-1' | url }}"></use></svg>
        <svg class="svg-icon page-transverse__deco page-transverse__deco--2" aria-hidden="true"><use xlink:href="{{ '/assets/sprites.svg#vs--splat-2' | url }}"></use></svg>
        <svg class="svg-icon page-transverse__deco page-transverse__deco--3" aria-hidden="true"><use xlink:href="{{ '/assets/sprites.svg#vs--stonk' | url }}"></use></svg>
        <svg class="svg-icon page-transverse__deco page-transverse__deco--4" aria-hidden="true"><use xlink:href="{{ '/assets/sprites.svg#vs--euro' | url }}"></use></svg>

        <div class="wrapper wrapper--small editorial">

            <h1 id="title-section-01"><strong>Conditions Générales d’Utilisation</strong></h1>

            <h2>Préambule</h2>

            <p>Bienvenue sur le site de CAYAS. Ce lieu numérique est dédié à celles et ceux qui veulent comprendre, apprendre et investir rationnellement, sans bullshit ni jargon marketing. Voici les règles du jeu.</p>

            <h2>Accès au site</h2>

            <p>L’accès au site CAYAS est ouvert à tout esprit curieux et souhaitant affûter ses compétences en finances personnelles.</p>

            <p>Certaines sections et fonctionnalités du site sont publiques, d'autres sont réservées aux Utilisateurs enregistrés ou aux Abonnés. Ces restrictions d'accès peuvent être modifiées à la discrétion de CAYAS.</p>

            <p>CAYAS se réserve également le droit de suspendre l'accès, en cas de maintenance, de bug (ou d’un script malveillant). CAYAS ne garantit pas une disponibilité 24/7 – même si on fait de notre mieux, parfois les serveurs font la grève.</p>

            <h2>Conseil en Investissement Financier</h2>

            <p>CAYAS n'agit pas en tant que Conseiller en Investissement Financier, c'est-à-dire que nous ne livrons pas de conseil individualisé ni ne prônons l'acquisition d'un produit financier plutôt qu'un autre.</p>

            <p>CAYAS a deux vocations :</p>

            <ul>
                <li>L'éducation financière des investisseurs individuels. Nous diffusons notamment des principes et les démarches d'investissement, principalement issus de la recherche académique.</li>
                <li>Fournir des outils logiciels pour mettre en œuvre ces démarches d'investissement, là encore à destination du grand public. Ces outils sont largement paramétrables par l'Utilisateur, qui définit donc par lui-même sa stratégie d'investissement, selon ses croyances, ses hypothèses de marché et sa perception, notamment son aversion au risque. CAYAS s'efforce de présenter une information claire et de suggérer des hypothèses de travail raisonnables pour aider l'Utilisateur dans l'utilisation de l'outil, mais ne saurait être tenue responsable du choix de l'Utilisateur d'appliquer ou non cette stratégie et des conséquences qui en découlent.</li>
            </ul>

            <div class="editorial__media editorial__media--tiny editorial__media--right">

                <div class="editorial__img">
                    <figure role="figure" aria-label="">
                        <img src="assets/generic/vs_capy-prof.svg" alt="">
                    </figure>
                </div><!-- /.editorial__img -->

                <p>CAYAS a toutefois entamé le processus pour obtenir une accréditation de Conseiller en Investissement Financier auprès de l'ORIAS pour dissiper tout doute sur la question.</p>

                <p>Pour démontrer son indépendance, CAYAS fait le choix de ne percevoir aucune rémunération de la part d'intermédiaires financiers ou de vendeurs de produits.</p>

                <p>Le contenu du site est fourni à titre informatif. Malgré notre passion et notre rigueur, des erreurs peuvent se glisser ici ou là. Nos outils logiciels peuvent également contenir des erreurs, que nous nous efforcerons de corriger.</p>

                <p>Le site peut contenir des liens vers des sites tiers. CAYAS ne contrôle pas le contenu de ces sites et ne saurait être tenue responsable de ce que vous y trouverez (ou n’y trouverez pas).</p>

            </div>

            <h2>Communauté</h2>

            <p>Le site contient également un forum communautaire.</p>

            <p>Celui-ci est modéré par CAYAS et régi par une charte valant conditions d'utilisation annexes. La communauté est un espace de débat et d'apprentissage entre investisseurs. La possibilité de participer à la Communauté pourra être restreinte aux seuls abonnés de CAYAS et peut être retirée à tout Utilisateur à la discrétion de CAYAS.</p>

            <p>Il s'agit d'un espace privé où la liberté d'expression n'est pas absolue. CAYAS pourra notamment supprimer les messages jugés inappropriés, redondants, inintéressants voire un peu nouille (sachant qu'une intervention, si elle découle d'une réelle volonté d'apprendre et qu'elle est précédée de recherches individuelles, ne sera généralement pas considérée stupide : les membres de la communauté sont là pour progresser et s'entraider).</p>

            <p>Si vous décidez de supprimer votre compte, vos message sur la communauté ne seront pas supprimés, mais simplement anonymisés.</p>

            <h2>Comptes utilisateurs</h2>

            <p>Si vous disposez d’un compte utilisateur, vous êtes seul responsable de la confidentialité de vos identifiants. En cas de perte ou d’usage frauduleux, contactez-nous fissa.</p>

            <p>Les comptes sont individuels, c’est-à-dire qu’ils sont destinés à un usage par une seule personne. Cela dit, on n’est pas bornés : l’usage familial est autorisé — vous pouvez partager votre accès avec votre conjoint ou vos enfants au sein de votre foyer.</p>

            <p>En revanche, si vous utilisez le même compte à plusieurs dans un cadre collectif, professionnel ou associatif (ou si on détecte une explosion du trafic qui ressemble davantage à une coloc' qu'à une famille tranquille), CAYAS se réserve le droit de vous facturer des comptes utilisateurs supplémentaires.</p>

            <h2>Propriété intellectuelle</h2>

            <p>Le contenu, les outils et la structure du site sont protégés par le droit d’auteur. Toute reproduction, extraction ou réutilisation non autorisée sera assimilée à un pillage numérique (et ça, c’est moche).</p>

            <h2>Les laïus usuels</h2>

            <p>Vous vous engagez à utiliser ce site dans le respect de la loi, du bon sens, et de l'esprit de ce lieu numérique. Toute utilisation abusive, frauduleuse ou tout comportement de hacker sans panache est interdit. Toute tentative de piratage, scraping sauvage ou vol de nos idées se heurtera à notre courroux et potentiellement à nos avocats, mais franchement, on préférerait ne pas perdre notre temps là-dessus.</p>

            <p>Le droit applicable est <strong>le droit français.</strong> En cas de litige, on montrera nos blousons en cuir à rivets devant les tribunaux compétents dont relève le siège social de CAYAS.</p>

            <p>CAYAS se réserve le droit de modifier ces conditions d'utilisation à tout moment. Si c’est le cas, on vous le dira clairement – on n’est pas du genre à planquer les clauses en petits caractères.</p>

        </div><!-- /.wrapper -->

    </section><!-- /. -->

</main>

{% include 'footer.html' %}
