---
layout: layout.html
title: Cayas - Conditions Générales d’Utilisation
description: Cayas est dédié à celles et ceux qui veulent comprendre, apprendre et investir rationnellement, sans bullshit ni jargon marketing. Voici les règles du jeu.
---

{% include 'header.html' %}

<main role="main" id="main-content">
  <section class="page-transverse" aria-labelledby="title-section-01">
    <svg
      class="svg-icon page-transverse__deco page-transverse__deco--1"
      aria-hidden="true"
    >
      <use xlink:href="{{ '/assets/sprites.svg#vs--splat-1' | url }}"></use>
    </svg>
    <svg
      class="svg-icon page-transverse__deco page-transverse__deco--2"
      aria-hidden="true"
    >
      <use xlink:href="{{ '/assets/sprites.svg#vs--splat-2' | url }}"></use>
    </svg>
    <svg
      class="svg-icon page-transverse__deco page-transverse__deco--3"
      aria-hidden="true"
    >
      <use xlink:href="{{ '/assets/sprites.svg#vs--stonk' | url }}"></use>
    </svg>
    <svg
      class="svg-icon page-transverse__deco page-transverse__deco--4"
      aria-hidden="true"
    >
      <use xlink:href="{{ '/assets/sprites.svg#vs--euro' | url }}"></use>
    </svg>

    <div class="wrapper editorial">
      <h1 id="title-section-01">
        <strong>Conditions Générales d’Utilisation</strong>
      </h1>

      <p>
        Ces CGVU expliquent comment utiliser Cayas (le site, l’application et la
        communauté) dans sa version gratuite <strong>Cayas Mini</strong> et sa
        grande sœur payante, l’offre <strong>Cayas+</strong>.
      </p>
      <p>
        Ce qui suit est une version volontairement décalée, qui synthétise les
        principaux points contractuels et explique la philosophie de Cayas. Même
        si cette version respecte l’esprit des conditions contractuelles
        complètes, ce sont ces dernières qui comptent en cas de litige.
        <br />
        <a href="/assets/files/CGVU_Cayas.pdf" target="_blank">
          CGVU complète (pdf)
        </a>
      </p>
      <h3>QUI FAIT QUOI ?</h3>
      <table>
        <thead>
          <tr>
            <th>Terme</th>
            <th>Ce que ça veut dire</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Cayas / « Nous »</strong></td>
            <td>La société CAYAS SAS, à Nantes.</td>
          </tr>
          <tr>
            <td><strong>Service ou Site</strong></td>
            <td>
              Le site <a href="http://www.cayas.fr/"><em>cayas.fr</em></a
              >, l’application d’allocation, planification, suivi et éducation
              financière. Le Service inclut également un espace de discussion en
              ligne, également désigné sous le terme de Communauté.
            </td>
          </tr>
          <tr>
            <td><strong>Utilisateur / « Vous »</strong></td>
            <td>
              Toute personne majeure qui crée un compte sur le Service, sur
              l’offre gratuite ou payante. <br />Vous pouvez partager votre
              compte Utilisateur avec votre foyer, c’est-à-dire les personnes
              vivant sous le même toit que vous. Ou à la rigueur dans le cabanon
              de jardin, nous comprenons que vous souhaitez parfois être
              tranquille.
            </td>
          </tr>
          <tr>
            <td><strong>Cayas Mini</strong></td>
            <td>
              Formule gratuite, qui requiert la création d’un compte Utilisateur
              au moyen d’une adresse e-mail valide. L’offre Cayas Mini donne
              accès aux parcours pédagogiques introductifs, à quelques outils
              logiciels et ouvre un accès limité à la Communauté.
            </td>
          </tr>
          <tr>
            <td><strong>Cayas+</strong></td>
            <td>
              L’abonnement Cayas+ à 100 € TTC/an, donnant accès aux outils de
              gestion patrimoniale, à tout le contenu pédagogique et aux
              sections privées de la Communauté.
            </td>
          </tr>
          <tr>
            <td><strong>Contenu Utilisateur</strong></td>
            <td>
              Ce que vous postez sur la Communauté : messages informatifs,
              d’amour, diatribes, arguments, fichiers, réactions.
            </td>
          </tr>
          <tr>
            <td><strong>Données Personnelles</strong></td>
            <td>
              Les données personnelles, principalement d’ordre financier, que
              vous renseignez dans les outils pour permettre le fonctionnement
              du Service. Nous les distinguons des Contenus Utilisateurs car
              elles ne sont pas publiques pour les autres Utilisateurs.
            </td>
          </tr>
        </tbody>
      </table>
      <h3>RÈGLES VALABLES POUR TOUT LE MONDE</h3>
      <ol>
        <li>
          <strong>Acceptation pleine et entière</strong> : un clic, et hop !
          nous sommes liés.
        </li>
        <li>
          <strong>Comptes individuels :</strong> un compte ne peut être utilisé
          que par une personne physique, mais l’usage au sein du foyer est
          toléré, avec usage raisonnable sur quelques appareils. Il n’est pas
          autorisé d’utiliser Cayas dans un but commercial ou pour planifier le
          patrimoine de tous ses potes.
        </li>
        <li>
          <strong>Bonne conduite sur la Communauté</strong> : pas de spam, de
          haine, de zizis et encore moins de pubs pour des produits financiers.
          Les messages inappropriés, redondants, inintéressants voire un peu
          nouilles seront éliminés à notre discrétion. Tout membre de la
          Communauté peut signaler un message, nous le traiterons au mieux.
          Cayas peut bloquer votre faculté de participer à la communauté
          <strong>sans préavis, y compris si vous êtes abonné.</strong>
        </li>
        <li>
          <strong>Contenu Utilisateur et Données Personnelles</strong> : vous
          gardez vos droits sur vos Contenus Utilisateurs, mais vous nous donnez
          une licence (gratuite et mondiale) pour en reprendre des extraits à
          but pédagogique ou promotionnel, tant que le compte est actif et
          pendant les 3 ans qui suivent sa fermeture. Les Données Personnelles
          sont confidentielles et sensibles, donc nous ne faisons pas les malins
          avec. Elles seront détruites sous 30 jours après la fermeture de votre
          compte. Ces Données Personnelles peuvent être anonymisées et agrégées
          avec celles d’autres utilisateurs de manière à produire des
          statistiques dans un but d’amélioration du Service ou pour concevoir
          du contenu pédagogique. Consultez également la page des
          <a href="https://cayas.fr/mentions-legales/">Mentions Légales</a>.
        </li>
        <li>
          <strong>Propriété intellectuelle :</strong> le contenu, les outils et
          la structure du Site sont protégés par le droit d’auteur. Toute
          reproduction, extraction ou réutilisation non autorisée sera assimilée
          à un pillage numérique (et ça, c’est moche).
        </li>
        <li>
          <strong>Responsabilité</strong> : en cas de pépin de conformité, le
          plafond d’indemnisation est égal à ce que vous avez payé sur les
          12 derniers mois (c’est-à-dire égal à nada si vous n’êtes pas abonné).
          Les dommages indirects ne sont pas indemnisés, notamment si un
          comportement détestable vous fait passer pour un blaireau auprès de la
          Communauté.
        </li>
      </ol>
      <h3>AU SUJET DU CONSEIL FINANCIER</h3>
      <p>
        Cayas n’est pas un service de Conseil en Investissements Financiers,
        c’est-à-dire que nous ne délivrons pas de conseil individualisé ni ne
        prônons l’acquisition d’un produit financier plutôt qu’un autre.
      </p>
      <p>Cayas a deux vocations :</p>
      <ol>
        <li>
          Apporter de l’éducation financière en diffusant les grands principes
          et les démarches d’investissement issus, pour l’essentiel, de la
          recherche académique.
        </li>
        <li>
          Fournir des outils logiciels aux investisseurs particuliers pour
          mettre en œuvre ces démarches d’investissement. Ces outils sont
          largement paramétrables par l’Utilisateur, qui définit donc par
          lui-même sa stratégie d’investissement, selon ses croyances, ses
          hypothèses de marché et sa perception, notamment son aversion au
          risque.
        </li>
      </ol>
      <p>
        Cayas s’efforce de présenter une information claire et de suggérer des
        hypothèses de travail raisonnables pour aider l’Utilisateur dans
        l’utilisation de l’outil et la prise de décisions éclairées, mais ne
        saurait être tenue responsable du choix de l’Utilisateur d’appliquer ou
        non cette stratégie et des conséquences qui en découlent.
      </p>
      <p>
        Autrement dit :
        <strong
          >vos décisions d’investissement relèvent de votre
          responsabilité</strong
        >.
      </p>
      <p>
        Nous pensons toutefois que l’abonnement Cayas+ vous aidera réellement à
        prendre de meilleures décisions pour votre avenir financier.
        Accessoirement, cela vous coûtera probablement beaucoup (beaucoup
        <em>beaucoup</em>) moins cher sur la durée qu’un conseiller en gestion
        de patrimoine, même si certains membres de cette profession sont
        excellents et leurs conseils précieux dans des cas complexes.
      </p>
      <p>
        Cayas a toutefois entamé le processus pour obtenir une accréditation de
        Conseiller en Investissement Financier auprès de l’ORIAS pour dissiper
        tout doute sur la question.
      </p>
      <p>
        Pour démontrer son indépendance, Cayas fait le choix de ne percevoir
        aucune rémunération de la part d’intermédiaires financiers ou de
        vendeurs de produits.
      </p>
      <p>
        Le contenu du site est fourni à titre informatif. Malgré notre passion
        et notre rigueur, des erreurs peuvent se glisser ici ou là. Nos outils
        logiciels peuvent également contenir des erreurs, que nous nous
        efforcerons de corriger.
      </p>
      <p>
        Le site peut contenir des liens vers des sites tiers. Cayas ne contrôle
        pas le contenu de ces sites et ne saurait être tenue responsable de ce
        que vous y trouverez (ou n’y trouverez pas).
      </p>
      <h3>COMMUNAUTE</h3>
      <p>
        Le Service contient également un forum de discussion, la Communauté.
      </p>
      <p>
        Celui-ci est modéré par Cayas. La Communauté est un espace de débat et
        d’apprentissage entre investisseurs. La possibilité de participer à
        certaines parties de la Communauté est réservée aux seuls abonnés à
        l’offre Cayas+ et peut être retirée à tout Utilisateur à la discrétion
        de Cayas.
      </p>
      <p>
        Il s’agit d’un espace privé où la liberté d’expression n’est pas
        absolue. Cayas pourra notamment supprimer les messages jugés
        inappropriés, redondants, inintéressants voire un peu nouilles (en
        rappelant qu’une intervention, si elle découle d’une réelle volonté
        d’apprendre et qu’elle est précédée de recherches individuelles, est
        toujours intéressante : les membres de la Communauté sont là pour
        progresser et s’entraider).
      </p>
      <p>
        Les discussions sur la Communauté sont des opinions (à prendre comme
        telles) ou des conseils de bon ami : les participants n’ont pas
        nécessairement assez d’information ni les accréditations pour délivrer
        un conseil personnalisé à suivre les yeux fermés.
      </p>
      <p>
        Si vous décidez de supprimer votre compte, vos messages sur la
        communauté ne seront pas supprimés, mais simplement anonymisés.
      </p>
      <h3>TOUT CE QUI CHANGE AVEC <strong>CAYAS+</strong></h3>
      <ol>
        <li>
          <strong>Activation immédiate</strong> : dès le paiement par carte
          bancaire, vous avez accès à l’offre Cayas+ et
          <strong>renoncez</strong> à votre droit de rétractation (via une case
          à cocher obligatoire).
        </li>
        <li>
          <strong>Prix &amp; durée</strong> : 100 € TTC pour 12 mois, avec
          renouvellement automatique chaque année. Nous nous efforcerons de
          maintenir nos prix stables, mais nous nous réservons le droit de les
          réviser ponctuellement, auquel cas le nouveau prix s’appliquera lors
          du renouvellement. On vous le dira à l’avance et clairement. Toute
          période commencée est due : pas de remboursement en cas de résiliation
          en cours d’année. Le Service inclut du contenu pédagogique : vous
          n’allez pas vous faire rembourser vos bouquins chez le libraire après
          les avoir lus, n’est-ce pas ?
        </li>
        <li>
          <strong>Paiement échoué</strong> : l’accès aux fonctionnalités Cayas+
          est suspendu ; le compte bascule sur Cayas Mini, vos données restent
          disponibles si vous changez d’avis.
        </li>
        <li>
          <strong>Garantie légale de conformité</strong> : nous fournirons les
          mises à jour et correctifs pendant toute la durée d’abonnement. Nous
          nous efforcerons de maintenir le Service en conformité dans les
          meilleurs délais ; sinon vous pourrez demander une réduction de prix
          ou la résiliation de l’abonnement (art. L224‑25‑1 et suivants du Code
          de la consommation).
        </li>
        <li>
          <strong>Réversibilité</strong> : nous pouvons réaliser un export
          gratuit de vos Données Personnelles sur demande pendant 30 jours après
          résiliation. Au‑delà, tout sera supprimé ; hormis les journaux
          techniques et des statistiques anonymisées.
        </li>
        <li>
          <strong>Résiliation</strong> : elle peut se faire via un bouton « Se
          désabonner » dans le compte. La résiliation prend effet à la fin de la
          période d’abonnement en cours.
        </li>
      </ol>
      <h3>SERVICE CLIENT &amp; LITIGES</h3>
      <ul>
        <li>
          <strong>Support</strong> :
          <a href="mailto:bonjour@cayas.fr">bonjour@cayas.fr</a> pour les
          problèmes avec votre compte Utilisateur ; la Communauté pour l’usage
          des outils et les suggestions. Réponse “au meilleur effort”, avec une
          cible de 24 heures ouvrées.
        </li>
        <li>
          <strong>Médiation conso</strong> : si on n’a pas répondu sous
          15 jours, vous pouvez saisir un médiateur (en cours de désignation).
          Plateforme RLL :
          <a href="https://ec.europa.eu/consumers/odr"
            >https://ec.europa.eu/consumers/odr</a
          >
          (valable jusqu’au 19/07/2025).
        </li>
        <li>
          <strong>Droit applicable</strong> : français. En cas de litige, on
          montrera nos blousons en cuir à rivets devant les tribunaux compétents
          de votre domicile si vous résidez en France (ou règlement
          Bruxelles I bis si vous vivez dans l’UE), si la médiation a échoué.
        </li>
      </ul>
      <blockquote>
        <p>Dernière mise à jour : 25/06/2025.</p>
        <p>
          Des questions ? Écrivez nous. Sinon, joyeux apprentissage des finances
          personnelles !
        </p>
        <p>
          La version complète des CGVU est disponible en
          <a href="/assets/files/CGVU_Cayas.pdf" target="_blank"
            >téléchargement</a
          >.
        </p>
      </blockquote>
    </div>
  </section>
</main>

{% include 'footer.html' %}
