---
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: "/le-journal/sujet/{{ tag.slug }}/"
layout: layout.html
---

{% include 'header.html' %}

<main role="main" id="main-content">
  <header>
    <section class="home-hero theme--dark" aria-labelledby="title-section-01">
      <div class="wrapper wrapper--wide txt-c">
        <img
          class="blog-img-center"
          src="assets/generic/lg_le-journal.png"
          alt="Cayas - Le Journal"
        />
        <h2 id="title-section-01">L'éducation financière, mais indépendante</h2>
      </div>
    </section>
    <nav role="navigation" aria-label="Navigation par sujets">
      <div>
        <div>
          <span>Sujets:</span>
          <ul>
            {% for tagItem in collections.tags %} {% assign isActive =
            tagItem.slug == tag.slug %} {% if isActive %}
            <li>
              <a href="/le-journal/" class="active">{{ tagItem.name }}</a>
            </li>
            {% else %}
            <li>
              <a href="/le-journal/sujet/{{ tagItem.slug }}/"
                >{{ tagItem.name }}</a
              >
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>

        <div class="grid__60 grid--xsmall__100">
          {% include 'social-list.html' %}
        </div>
      </div>
    </nav>
  </header>

  {% assign filteredPostsByTag = collections.blog | postsByTag: tag.slug %} {%
  if filteredPostsByTag.size > 0 %}
  <section aria-labelledby="tagged-title">
    <div>
      <h2 id="tagged-title">{{ tag.name }}</h2>

      <div>
        {% for post in filteredPostsByTag %} {% include 'blog-item.html', post:
        post %} {% endfor %}
      </div>
    </div>
  </section>
  {% else %}
  <div>
    <p>Aucun article trouvé avec le tag "{{ tag.name }}".</p>
    <nav>
      <a href="/le-journal/">← Retour au journal</a>
    </nav>
  </div>
  {% endif %}
</main>

{% include 'footer.html' %}
