---
layout: layout.html
title: Cayas ★ Mentions légales et Conditions Générales d’Utilisation
description: Derrière Cayas : du café, de la sueur et un soupçon de conscience sociale.
---

{% include 'header.html' %}

<main role="main" id="main-content">

    <section class="" aria-labelledby="title-section-01">

        <div class="wrapper editorial">

            <h1 id="title-section-01">Mentions légales</h1>

            <h2>Éditeur du site</h2>

            <p>Ce site est édité par la société <strong>CAYAS,</strong> Société par Actions Simplifiée au capital social de 100 € (chaque centime est bien placé), inscrite au RCS de Nantes sous le numéro 940 332 463.</p>

            <ul>
                <li><strong>Siège social :</strong> 10 rue de la Gourmette, 44300 Nantes – France</li>
                <li><strong>SIRET :</strong> 940 332 463 00014</li>
                <li><strong>TVA intracommunautaire :</strong> FR 42 940332463</li>
                <li><strong>Code APE / NAF :</strong> 5829C – Édition de logiciels applicatifs</li>
                <li><strong>Date de création :</strong> 4 février 2025</li>
            </ul>

            <p>Directeur de la publication : Vincent Porcel</p>

            <h2>Conception et développement</h2>

            <p>Le site a été conçu, développé et bichonné par CAYAS avec du café, de la sueur et un soupçon de conscience sociale.</p>

            <h2>Hébergement</h2>

            <p>Notre site est hébergé par :</p>

            <h3>Google Cloud Platform</h3>

            <ul>
                <li>Google Ireland Limited</li>
                <li>Gordon House, Barrow Street, Dublin 4, Irlande</li>
                <li>Site web : <a href="https://cloud.google.com">https://cloud.google.com</a></li>
                <li>Tél. : +353 1 543 1000</li>
            </ul>

            <p>Notre forum de discussion est hébergé par :</p>

            <h3>Discourse</h3>

            <ul>
                <li>Civilized Discourse Construction Kit, Inc.</li>
                <li>VIJZELSTRAAT 68 99000  1017HL AMSTERDAM PAYS-BAS</li>
                <li>Site web : <a href="https://discourse.org">https://discourse.org</a></li>
            </ul>

            <h2>Données personnelles & RGPD</h2>

            <p>Pas de panique, on ne cherche pas à traquer vos playlists de punk rock. Toutefois :</p>

            <ul>
                <li>Des données personnelles peuvent être collectées lors de l'utilisation du site.</li>
                <li>Certaines de ces données sont nécessaires pour fournir les services auxquels vous souhaitez accéder en utilisant CAYAS, tels que les outils d'allocation patrimoniale.</li>
                <li>Vous allez notamment confier à CAYAS des données personnelles d'ordre financier. Ce sont des données sensibles, que nous protégerons au mieux. Elles ne seront notamment pas vendues à des tiers. Les pages servant à collecter et à afficher ces données n'utiliseront pas de traceurs tiers tels que des outils de mesure d'audience ou publicitaires.</li>
                <li>Vos données sont traitées dans le respect du RGPD.</li>
                <li>Le <strong>Délégué à la protection des données (DPO)</strong> est <strong>Vincent Porcel.</strong> Vous pouvez le contacter à l’adresse : <strong>rgpd@cayas.fr</strong></li>
            </ul>

            <p>Vous pouvez demander l’accès, la modification ou la suppression de vos données : un simple mail suffit.</p>

        </div><!-- /.wrapper -->

    </section><!-- /. -->

</main>

{% include 'footer.html' %}
