---
layout: layout.html
title: Cayas - Mentions légales
description: Derrière Cayas, du café, de la sueur et un soupçon de conscience sociale.
---

{% include 'header.html' %}

<main role="main" id="main-content">
  <section class="page-transverse" aria-labelledby="title-section-01">
    <svg
      class="svg-icon page-transverse__deco page-transverse__deco--1"
      aria-hidden="true"
    >
      <use xlink:href="{{ '/assets/sprites.svg#vs--splat-1' | url }}"></use>
    </svg>
    <svg
      class="svg-icon page-transverse__deco page-transverse__deco--2"
      aria-hidden="true"
    >
      <use xlink:href="{{ '/assets/sprites.svg#vs--splat-2' | url }}"></use>
    </svg>
    <svg
      class="svg-icon page-transverse__deco page-transverse__deco--3"
      aria-hidden="true"
    >
      <use xlink:href="{{ '/assets/sprites.svg#vs--stonk' | url }}"></use>
    </svg>
    <svg
      class="svg-icon page-transverse__deco page-transverse__deco--4"
      aria-hidden="true"
    >
      <use xlink:href="{{ '/assets/sprites.svg#vs--euro' | url }}"></use>
    </svg>

    <div class="wrapper wrapper editorial">
      <h1 id="title-section-01"><strong>Mentions légales</strong></h1>

      <h2>Éditeur du site</h2>

      <div class="editorial__boost">
        <p>
          Ce site est édité par la société <strong>CAYAS,</strong> Société par
          Actions Simplifiée au capital social de 620 000 € (chaque centime est
          bien placé), inscrite au RCS de Nantes sous le numéro 940 332 463.
        </p>

        <ul>
          <li>
            <strong>Siège social :</strong> 10 rue de la Gourmette, 44300 Nantes
            – France
          </li>
          <li><strong>SIRET :</strong> 940 332 463 00014</li>
          <li><strong>TVA intracommunautaire :</strong> FR 42 940332463</li>
          <li>
            <strong>Code APE / NAF :</strong> 5829C – Édition de logiciels
            applicatifs
          </li>
          <li><strong>Date de création :</strong> 4 février 2025</li>
        </ul>

        <p>Directeur de la publication : Vincent Porcel</p>
      </div>
      <!-- /.editorial__boost -->

      <h2>Conception et développement</h2>

      <p>
        Le site a été conçu, développé et bichonné par CAYAS avec du café, de la
        sueur et un soupçon de conscience sociale.
      </p>

      <h2>Hébergement</h2>

      <div class="grid grid--small-flat">
        <div class="grid__50 grid--small__100">
          <h3>Scaleway</h3>

          <p>Notre site est hébergé par :</p>

          <ul>
            <li>SCALEWAY SAS</li>
            <li>Siège social : 8 rue de la Ville l'Évêque, 75008 Paris</li>
            <li>
              Site web :
              <a href="https://scaleway.com">https://scaleway.com</a>
            </li>
          </ul>
        </div>
        <!-- /.grid__50 -->

        <div class="grid__50 grid--small__100">
          <h3>Discourse</h3>

          <p>Notre forum de discussion est hébergé par :</p>

          <ul>
            <li>Civilized Discourse Construction Kit, Inc.</li>
            <li>VIJZELSTRAAT 68 99000 1017HL AMSTERDAM PAYS-BAS</li>
            <li>
              Site web :
              <a href="https://discourse.org">https://discourse.org</a>
            </li>
          </ul>
        </div>
        <!-- /.grid__50 -->
      </div>
      <!-- /.grid -->

      <h2>Données personnelles & RGPD</h2>

      <p>
        Pas de panique, on ne cherche pas à traquer vos playlists de punk
        rock. Toutefois :
      </p>

      <ul>
        <li>
          Des données personnelles peuvent être collectées lors de l’utilisation
          du site.
        </li>
        <li>
          Certaines de ces données sont nécessaires pour fournir les services
          auxquels vous souhaitez accéder en utilisant CAYAS, tels que les
          outils d’allocation patrimoniale.
        </li>
        <li>
          Vous allez notamment confier à CAYAS des données personnelles d’ordre
          financier. Ce sont des données sensibles, que nous protégerons au
          mieux. Elles ne seront notamment pas vendues à des tiers. Les pages
          servant à collecter et à afficher ces données n’utiliseront pas de
          traceurs tiers tels que des outils de mesure d’audience ou
          publicitaires.
        </li>
        <li>Vos données sont traitées dans le respect du RGPD.</li>
        <li>
          Le <strong>Délégué à la protection des données (DPO)</strong> est
          <strong>Vincent Porcel.</strong> Vous pouvez le contacter à
          l’adresse : <strong>rgpd@cayas.fr</strong>
        </li>
      </ul>

      <p>
        Vous pouvez demander l’accès, la modification ou la suppression de vos
        données : un simple mail suffit.
      </p>

      <h2>Propriété intellectuelle</h2>

      <p>
        Tout le contenu original présent sur ce site (textes, code, logos,
        images, vannes désopilantes et fulgurances poétiques) est la propriété
        exclusive de CAYAS. Vous ne pouvez pas copier, réutiliser ou détourner
        ces contenus sans notre autorisation écrite.
      </p>

      <p>
        Néanmoins, nous serons heureux si vous diffusez les concepts de finance
        personnelle évoqués sur le site auprès de vos amis (surtout s’ils
        s’abonnent à CAYAS ensuite). Ces concepts sont souvent les fruits de
        recherches académiques, c’est-à-dire des trouvailles sur deniers
        publics. Partagez donc, mais avec vos mots et vos images. Le savoir est
        libre.
      </p>
    </div>
    <!-- /.wrapper -->
  </section>
  <!-- /. -->
</main>

{% include 'footer.html' %}
