---
layout: layout.html
title: Cayas - Les offres
description: Il n’y a pas de bonne ou de mauvaise formule. Il y a Cayas.
---

{% include 'header.html' %}

<div class="split-page theme--light">

  <div class="split-page__deco">
    <svg style="left: 50%; margin-left: -72.5rem;  top: 70%; width: 10rem" class="svg-icon split-page__deco-item theme--green" aria-hidden="true"><use xlink:href="{{ '/assets/sprites.svg#icon--rock-on' | url }}"></svg>
    <svg style="left: 50%; margin-left: 65rem; top: 70%; width: 10rem" class="svg-icon split-page__deco-item theme--aqua" aria-hidden="true"><use xlink:href="{{ '/assets/sprites.svg#icon--rocket' | url }}"></svg>
  </div><!-- /.split-page__deco -->

  <div class="split-page__core">

    <main role="main" id="main-content">

      <div class="wrapper wrapper--medium">

        <h2 class="title--1 txt-c">Il n’y a pas de bonne ou de mauvaise formule.<br>Il y a Cayas.</h2>

        <div class="grid grid--small-flat">

          <div class="grid__50 grid--small__66 grid--xsmall__75 grid--xxsmall__100">

            <div class="block-offer small-font">

              <div class="block-offer__content">

                <div class="block-offer__intro">

                  <h3 class="normal-font status-alt"><span>Cayas Mini</span></h3>

                  <p>Faites vos premiers pas en finances personnelles. Prenez conscience que vous pouvez gérer votre argent sans intermédiaire.</p>

                </div><!-- /.block-offer__intro -->

                <div class="block-offer__main">

                  <div><span class="title--1">Gratuit</span></div>

                  <hr>

                  <ul class="list-checklist">
                    <li>
                      <svg class="svg-icon" aria-hidden="true"><use xlink:href="{{ '/assets/sprites.svg#icon--tick' | url }}"></use></svg>
                      <span>Un accès aux premières leçons du parcours pédagogique</span>
                    </li>
                    <li>
                      <svg class="svg-icon" aria-hidden="true"><use xlink:href="{{ '/assets/sprites.svg#icon--tick' | url }}"></use></svg>
                      <span>Une allocation simplifiée</span>
                    </li>
                    <li>
                      <svg class="svg-icon" aria-hidden="true"><use xlink:href="{{ '/assets/sprites.svg#icon--tick' | url }}"></use></svg>
                      <span>Un espace public dans la communauté</span>
                    </li>
                  </ul>

                  <hr class="hr--naked">

                </div><!-- /.block-offer__main -->

              </div><!-- /.block-offer__content -->

              <div class="txt-c">
                <a href="https://app.cayas.fr/signup" class="button button--secondary"><span>S’inscrire</span></a>
              </div>

            </div><!-- /.block-offer -->

          </div><!-- /.grid__50 -->

          <div class="grid__50 grid--small__66 grid--xsmall__75 grid--xxsmall__100 pos-r">

            <div class="block-offer theme--fuschia small-font">

              <img src="assets/generic/vs_capy-picaboo.svg" alt="" class="block-offer__img block-offer__img--right no-large no-medium no-xsmall no-xxsmall">

              <div class="block-offer__content">

                <div class="block-offer__intro">

                  <h3 class="normal-font status-alt"><span>Cayas +</span></h3>

                  <p>Apprenez à votre rythme et gagnez en confiance. Construisez un portefeuille qui vous ressemble.</p>
                  <p>En bref, prenez le pouvoir sur vos finances. Vos projets de vie vous remercieront.</p>

                </div><!-- /.block-offer__intro -->

                <div class="block-offer__main">

                  <div>
                    <span class="title--1">100 €</span>
                    <span class="small-font">/an</span>
                    <br />
                    <span class="small-font"
                      >Soit <strong>8,33&nbsp;€ par mois</strong> facturé annuellement</span
                    >
                  </div>

                  <hr>

                  <ul class="list-checklist">
                    <li>
                      <svg class="svg-icon" aria-hidden="true"><use xlink:href="{{ '/assets/sprites.svg#icon--tick' | url }}"></use></svg>
                      <span>Un accès à tout le parcours pédagogique et toutes les leçons à venir</span>
                    </li>
                    <li>
                      <svg class="svg-icon" aria-hidden="true"><use xlink:href="{{ '/assets/sprites.svg#icon--tick' | url }}"></use></svg>
                      <span>Une allocation complète</span>
                    </li>
                    <li>
                      <svg class="svg-icon" aria-hidden="true"><use xlink:href="{{ '/assets/sprites.svg#icon--tick' | url }}"></use></svg>
                      <span>Un espace privé dans la communauté</span>
                    </li>
                   <li>
                      <svg class="svg-icon" aria-hidden="true"><use xlink:href="{{ '/assets/sprites.svg#icon--tick' | url }}"></use></svg>
                      <span>Un simulateur de projets de vie (reconversion, achat immobilier, retraite anticipée...)</span>
                    </li>
                    <li>
                      <svg class="svg-icon" aria-hidden="true"><use xlink:href="{{ '/assets/sprites.svg#icon--tick' | url }}"></use></svg>
                      <span>Une intégration des différents scénarios à votre allocation</span>
                    </li>
                  </ul>

                  <hr class="hr--naked">

                </div><!-- /.block-offer__main -->

              </div><!-- /.block-offer__content -->

              <div class="txt-c">
                <a href="https://app.cayas.fr/signup" class="button button--primary"><span>S’abonner</span></a>
              </div>

            </div><!-- /.block-offer -->

          </div><!-- /.grid__50 -->

        </div><!-- /.grid -->

      </div><!-- /.wrapper -->

    </main>

  </div><!-- /.split-page__core -->

</div><!-- /.split-page -->

{% include 'footer.html' %}
