<section class="blog-hero theme--dark" aria-labelledby="title-blog-hero">

  <div class="wrapper wrapper--wide">

    <h1 id="title-blog-hero" class="blog-hero__title">
      <a href="/le-journal/">
        <span class="cayas-logo">{{ 'assets/generic/lg_cayas--spraypainted.svg' | svg }}</span>
        <span class="cayas-journal">{{ 'assets/generic/tt_le-journal.svg' | svg }}</span>
        <span class="sr-only">Cayas, Le Journal</span>
      </a>
    </h1><!-- /.blog-hero__title -->

    <h2 class="title--4 txt-c">L’éducation financière, mais indépendante</h2>

  </div><!-- .wrapper -->

</section><!-- /.blog-hero -->
