<footer role="contentinfo">

    <div class="wrapper">

        <div class="grid grid--xsmall-flat">

            <div class="grid__40 grid--xsmall__100">
                <div class="cayas-logo">
                    <span class="sr-only">Cayas</span>
                    {{ 'assets/generic/lg_cayas--spraypainted.svg' | svg }}
                </div>
                <p>Prenez le contrôle de vos finances.</p>
            </div><!-- /.grid__40 -->

            <div class="grid__60 grid--xsmall__100">

                <a href="https://communaute.cayas.fr/c/discussion-sur-cayas/2" class="button button--secondary">
                    <strong>Contact</strong>
                </a>

                <ul class="list-inline list-social">
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<svg class="svg-icon" aria-hidden="true">-->
                                <!--<use-->
                                        <!--xlink:href="{{ '/assets/sprites.svg#social&#45;&#45;x-twitter' | url }}"-->
                                <!--&gt;</use>-->
                            <!--</svg>-->
                            <!--<span class="sr-only">X - Twitter</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a href="https://www.facebook.com/cayas.fr">
                            <svg class="svg-icon" aria-hidden="true">
                                <use
                                        xlink:href="{{ '/assets/sprites.svg#social--facebook' | url }}"
                                ></use>
                            </svg>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<svg class="svg-icon" aria-hidden="true">-->
                                <!--<use-->
                                        <!--xlink:href="{{ '/assets/sprites.svg#social&#45;&#45;reddit' | url }}"-->
                                <!--&gt;</use>-->
                            <!--</svg>-->
                            <!--<span class="sr-only">Reddit</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a href="https://www.tiktok.com/@cayas.fr" class="list-social__instagram">
                            <svg class="svg-icon" aria-hidden="true">
                                <use
                                        xlink:href="{{ '/assets/sprites.svg#social--tiktok' | url }}"
                                ></use>
                            </svg>
                            <span class="sr-only">Tiktok</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/@Cayas_app" class="list-social__youtube">
                            <svg class="svg-icon" aria-hidden="true">
                                <use
                                        xlink:href="{{ '/assets/sprites.svg#social--youtube' | url }}"
                                ></use>
                            </svg>
                            <span class="sr-only">Youtube</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="list-social__linkedin">
                            <svg class="svg-icon" aria-hidden="true">
                                <use
                                        xlink:href="{{ '/assets/sprites.svg#social--linkedin' | url }}"
                                ></use>
                            </svg>
                            <span class="sr-only">Linkedin</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/cayas.fr/" class="list-social__instagram">
                            <svg class="svg-icon" aria-hidden="true">
                                <use
                                        xlink:href="{{ '/assets/sprites.svg#social--instagram' | url }}"
                                ></use>
                            </svg>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                </ul>

            </div><!-- /.grid__60 -->

        </div><!-- /.grid -->

        <div class="grid grid--xsmall-flat smaller-font">

            <div class="grid__33 grid--xsmall__100">

                <p>© 2025 Cayas. Tous droits réservés.</p>

            </div><!-- /.grid__33 -->

            <div class="grid__66 grid--xsmall__100">

                <ul class="list-inline">
                    <li><a href="#">Politique de cookies</a></li>
                    <li><a href="#"><abbr title="Conditions Générales de Vente">CGV</abbr></a></li>
                    <li><a href="mentions-legales/">Mentions légales</a></li>
                </ul>

            </div><!-- /.grid__66 -->

        </div><!-- /.grid -->

    </div><!-- /.wrapper -->

</footer>
