<footer role="contentinfo" class="footer--website">
  <div class="wrapper wrapper--wide">
    <div class="grid grid--xsmall-flat">
      <div class="grid__40 grid--xsmall__100">
        <div class="cayas-logo">
          <span class="sr-only">Cayas</span>
          {{ 'assets/generic/lg_cayas--spraypainted.svg' | svg }}
        </div>
        <p>Prenez le contrôle de vos finances.</p>
      </div>
      <!-- /.grid__40 -->

      <div class="grid__60 grid--xsmall__100">
        <a
          href="https://communaute.cayas.fr/c/discussion-sur-cayas/2"
          class="button button--secondary"
        >
          <strong>Contact</strong>
        </a>

        {% include 'social-list.html' %}
      </div>
      <!-- /.grid__60 -->
    </div>
    <!-- /.grid -->

    <div class="grid grid--xsmall-flat smaller-font">
      <div class="grid__33 grid--xsmall__100">
        <p>© 2025 Cayas. Tous droits réservés.</p>
      </div>
      <!-- /.grid__33 -->

      <div class="grid__66 grid--xsmall__100">
        <ul class="list-inline">
          <li>
            <a href="/cgvu/"
              ><abbr title="Conditions Générales d’Utilisation">CGVU</abbr></a
            >
          </li>
          <li><a href="/mentions-legales/">Mentions légales</a></li>
        </ul>
      </div>
      <!-- /.grid__66 -->
    </div>
    <!-- /.grid -->
  </div>
  <!-- /.wrapper -->
</footer>
