<nav role="navigation" aria-label="Accès rapide">
  <ul class="list-skip smallest-font">
    <li><a href="#main-content">Aller au contenu</a></li>
    <li><a href="#main-nav">Aller à la navigation</a></li>
  </ul>
</nav>

<header
  role="banner"
  id="main-header"
  class="header--website header--sticky sticky-watch"
>
  <div class="wrapper wrapper--wide">
    <h1 class="cayas-logo">
      <a href="/">
        <span class="sr-only">Cayas</span>
        {{ 'assets/generic/lg_cayas--spraypainted.svg' | svg }}
      </a>
    </h1>

    <nav
      role="navigation"
      class="header-nav__menus"
      aria-label="Menu principal"
      tabindex="-1"
    >
      <!-- À décommenter quand on aura l'offre en ligne -->
      <!-- <ul class="header-nav__menu">
        <li class="smaller-font">
          <a href="/offre/" class="link--picto">
            <svg class="svg-icon no-xxsmall" aria-hidden="true"><use xlink:href="{{ '/assets/sprites.svg#icon--rocket' | url }}"></use></svg>
            <span><span class="no-xxsmall">Découvrez</span> nos offres !</span>
          </a>
        </li>
      </ul> -->

      <div>
        <a
          href="https://app.cayas.fr/login"
          class="button button--secondary smallest-font"
        >
          <strong>Se connecter</strong>
        </a>
        &nbsp;
        <a
          href="https://app.cayas.fr/"
          class="button button--primary smallest-font"
        >
          <strong>Démarrer <span class="no-xxsmall">gratuitement</span></strong>
        </a>
      </div>
    </nav>
    <!-- /.header-nav__menu -->
  </div>
  <!-- /.wrapper -->
</header>
