<!doctype html>

<html lang="en">
  <head>
    <link href="{{ '/base.css' | url }}" rel="stylesheet" />
    <!--<link href="{{ 'http://localhost/cayas/static/css/base.css' | url }}" rel="stylesheet" />-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.1.0/dist/cookieconsent.css"
    />

    <script
      async
      type="text/plain"
      data-category="analytics"
      data-src="https://www.googletagmanager.com/gtag/js?id=G-ZJLQ1GPH9P"
    ></script>

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NXTKLBWN");
    </script>
    <!-- End Google Tag Manager -->

    <script>
      var init = (function () {
        var htmlTag = document.getElementsByTagName("html")[0];
        /* Is JS enabled? */
        htmlTag.className = (htmlTag.className + " " || "") + "hasJS";
        /* Is it a touch device? */
        if ("ontouchstart" in document.documentElement)
          htmlTag.className = (htmlTag.className + " " || "") + "isTouch";
        else htmlTag.className = (htmlTag.className + " " || "") + "noTouch";
      })();
    </script>

    <script src="{{ '/js/base.js' | url }}"></script>
    <script src="{{ '/js/charts.js' | url }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js"></script>

    <script>
      var _paq = (window._paq = window._paq || []);
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
      (function () {
        var siteId = "3";
        var u = "https://app.cayas.fr/";
        _paq.push(["setTrackerUrl", u + "api/track"]);
        _paq.push(["setSiteId", siteId]);
      })();
    </script>
    <script src="https://app.cayas.fr/api/m.js"></script>

    <title>{{ title }}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{{ '/assets/favicon/apple-icon-57x57.png' | url }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ '/assets/favicon/apple-icon-60x60.png' | url }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{{ '/assets/favicon/apple-icon-72x72.png' | url }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{{ '/assets/favicon/apple-icon-76x76.png' | url }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{{ '/assets/favicon/apple-icon-114x114.png' | url }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{{ '/assets/favicon/apple-icon-120x120.png' | url }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{{ '/assets/favicon/apple-icon-144x144.png' | url }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{{ '/assets/favicon/apple-icon-152x152.png' | url }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '/assets/favicon/apple-icon-180x180.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{{ '/assets/favicon/android-icon-192x192.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ '/assets/favicon/favicon-32x32.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{{ '/assets/favicon/favicon-96x96.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ '/assets/favicon/favicon-16x16.png' | url }}"
    />
    <link rel="manifest" href="{{ '/assets/favicon/manifest.json' | url }}" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="{{ '/assets/favicon/ms-icon-144x144.png' | url }}"
    />
    <meta name="theme-color" content="#ffffff" />

    <meta property="og:site_name" content="Cayas" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cayas.fr" />
    <meta
      property="og:title"
      content="Cayas ★ Prenez le contrôle de vos finances personnelles"
    />
    <meta
      property="og:description"
      content="Révolutionner la gestion de votre patrimoine, telle est la mission de Cayas : un outil d’allocation personnalisée & un parcours pédagogique clair, basés sur des études académiques de prix Nobel."
    />
    <meta
      property="og:image"
      content="https://cayas.fr{{ '/assets/generic/opengraph.png' | url }}"
    />
    <meta property="og:locale" content="fr_FR" />

    <meta property="twitter:domain" content="cayas.fr" />
    <meta property="twitter:url" content="https://cayas.fr" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Cayas ★ Prenez le contrôle de vos finances personnelles"
    />
    <meta
      name="twitter:description"
      content="Révolutionner la gestion de votre patrimoine, telle est la mission de Cayas : un outil d’allocation personnalisée & un parcours pédagogique clair, basés sur des études académiques de prix Nobel."
    />
    <meta
      name="twitter:image"
      content="https://cayas.fr/{{ 'assets/generic/opengraph.png' | url }}"
    />
  </head>

  <body>
    {{ content }}

    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXTKLBWN"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script
      type="module"
      src="{{ '/js/cookieconsent-config.js' | url }}"
    ></script>
  </body>
</html>
