<ul class="list-inline list-social">
  <!--<li>-->
  <!--<a href="#">-->
  <!--<svg class="svg-icon" aria-hidden="true">-->
  <!--<use-->
  <!--xlink:href="{{ '/assets/sprites.svg#social&#45;&#45;x-twitter' | url }}"-->
  <!--&gt;</use>-->
  <!--</svg>-->
  <!--<span class="sr-only">X - Twitter</span>-->
  <!--</a>-->
  <!--</li>-->
  <li>
    <a
      href="https://www.facebook.com/cayas.fr"
      class="list-social__facebook"
      target="_blank"
    >
      <svg class="svg-icon" aria-hidden="true">
        <use
          xlink:href="{{ '/assets/sprites.svg#social--facebook' | url }}"
        ></use>
      </svg>
      <span class="sr-only">Facebook</span>
    </a>
  </li>
  <!--<li>-->
  <!--<a href="#">-->
  <!--<svg class="svg-icon" aria-hidden="true">-->
  <!--<use-->
  <!--xlink:href="{{ '/assets/sprites.svg#social&#45;&#45;reddit' | url }}"-->
  <!--&gt;</use>-->
  <!--</svg>-->
  <!--<span class="sr-only">Reddit</span>-->
  <!--</a>-->
  <!--</li>-->
  <li>
    <a
      href="https://www.tiktok.com/@cayas.fr"
      class="list-social__instagram"
      target="_blank"
    >
      <svg class="svg-icon" aria-hidden="true">
        <use
          xlink:href="{{ '/assets/sprites.svg#social--tiktok' | url }}"
        ></use>
      </svg>
      <span class="sr-only">Tiktok</span>
    </a>
  </li>
  <li>
    <a
      href="https://www.youtube.com/@Cayas_app"
      class="list-social__youtube"
      target="_blank"
    >
      <svg class="svg-icon" aria-hidden="true">
        <use
          xlink:href="{{ '/assets/sprites.svg#social--youtube' | url }}"
        ></use>
      </svg>
      <span class="sr-only">Youtube</span>
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/company/cayas/"
      class="list-social__linkedin"
      target="_blank"
    >
      <svg class="svg-icon" aria-hidden="true">
        <use
          xlink:href="{{ '/assets/sprites.svg#social--linkedin' | url }}"
        ></use>
      </svg>
      <span class="sr-only">Linkedin</span>
    </a>
  </li>
  <li>
    <a
      href="https://www.instagram.com/cayas.fr/"
      class="list-social__instagram"
      target="_blank"
    >
      <svg class="svg-icon" aria-hidden="true">
        <use
          xlink:href="{{ '/assets/sprites.svg#social--instagram' | url }}"
        ></use>
      </svg>
      <span class="sr-only">Instagram</span>
    </a>
  </li>
</ul>
